[2016-04-29 00:32] tracykteal opened #1 "Building Library Carpentry"
This is an issue for people who are interested in developing, contributing to, teaching or following the development of Library Carpentry workshop materials. We'll provide updates here on opportunities to be involved and progress.

So, if you are interested in Library Carpentry, please subscribe to this repository, or comment on this issue and you will get notifications of activity.

There will al

[2016-05-08 16:56] weaverbel commented on #1
Hi @tracykteal - still no admin rights here - can you please assign ? Thanks.

[2016-06-02 11:14] chStaiger opened #3 "Code publishing"
Suggestion for a #TODO:
Turn the material on
https://guides.github.com/activities/citable-code/
into a module for library carpentry.

[2016-09-01 16:28] drjwbaker opened #5 "Figure out a workflow for getting DOIs for regular LibCarp releases {META}"
`moved here because it makes more sense!`

I like the idea of creating (say) an annual release of Library Carpentry, with a DOI, et cetera. And I've used the Zenodo-Github link to do this with projects in the past. Looking at my Zenodo account, I making a release for each lesson so this is possible, though I'd rather do a big bundle per Programming Historian https://zenodo.org/record/30935#.V8VN9I

[2016-09-01 16:34] drjwbaker opened #6 "Library Carpentry: managing future development"
# Library Carpentry - state of play October 2016

This document is an attempt to define/agree what we consider to the be the core principles of Library Carpentry. It is written in the context of the (very exciting) expansion in recent months of Library Carpentry in terms of what it is offering, where it is being offered, and who is being offered.

---
## What is Library Carpentry?

Library Carpent

[2016-09-01 16:45] drjwbaker commented on #6
I should add that I am not wedded to this in terms of content, format et cetera. So please freely discuss, suggest edits, et cetera. My online caveat is the briefer the better!
The intention is for this to end up online (ideally alongside every lesson) and to be reviewed from time to time. We should also run it by library friends for comment once we are happy. I also hope this document will become

[2016-09-01 21:43] weaverbel commented on #6
Looking good @drjwbaker - just amending typos - will do para by para

This document is an attempt to define/agree what we consider to be the core principles of Library Carpentry. It is written in the context of the (very exciting) expansion in recent months of Library Carpentry in terms of what it is offering, where it is being offered, and to whom it is being offered.

[2016-09-01 21:49] weaverbel commented on #6
Suggested changes to

## What is a workshop

A Library Carpentry workshop comprises one or more half-day, face-to-face sessions where one or more of the currently developed modules are taught. Ideally, 4 modules (e.g, Data Intro, Shell, Git, OpenRefine) will be taught in a workshop across four half-day sessions, but this is not mandatory. Organisers may prefer to teach the workshop over two days.

[2016-09-01 21:51] weaverbel commented on #6
suggested changes to

## What is a module

A Library Carpentry module is a set of training materials that can be used either to run a half-day, face-to-face training session or as self-directed learning. Each module comprises 3-4 sections, is interactive, works across Windows, OS X, and Linux operating systems (with all setup instructions included) and has a combination of follow-my-leader section

[2016-09-01 21:54] weaverbel commented on #6
suggested changes to

## How Library Carpentry is managed

Library Carpentry was developed and is maintained by volunteers. There is no central organisation or command structure, and all activity is voluntary.  Management and maintenance are distributed.. Each module is 'owned' by one of more individuals responsible for coordinating maintenance of that module. Changes to lessons are managed using

[2016-09-02 10:46] jezcope commented on #6
Thanks @drjwbaker, this looks really good. @weaverbel I particularly agree with "Organisers may prefer to teach the workshop over two days." — this has come up in conversation with colleagues for whom larger geographic distances between institutions would make an overnight stay preferable. The weekly format works well for somewhere population-dense like London, but maybe not so much for the north

[2016-09-02 13:53] pitviper6 commented on #6
@drjwbaker @weaverbel @jezcope  I agree with the ""Organisers may prefer to teach the workshop over two days." but should we change it to "two or more" - some may want to make more than two days, especially if adding on the SQL or persistent identifier lessons.  Here in congested Southern California, there are often week long workshops because people can take the train to a campus and then get che

[2016-09-02 13:56] pitviper6 commented on #6
And thanks for putting this together, James! Our workshop has been so successful that I've had interest from departments in the library on getting involved, and how much time/effort was required by LC to instruct, etc. It'll be great to have something consistent to point them to, to get an idea of what LC is and entails.

[2016-09-02 21:34] tracykteal commented on #6
Thanks, this is all great, and important to put together! You have created a great curriculum here.

Software Carpentry has been coordinating Library focused Software Carpentry events, that I think have even been called Library Carpentry. Do you want this to continue? If SWC or DC are coordinating, then they would need to have at least one SWC/DC qualified instructor, so if you do want to continue

[2016-09-02 21:54] Repositorian commented on #6
Piping in from the land of #AuthorCarpentry - an initiative at CaltechLibrary for training scientists/researchers in best practices around writing, publishing, scholarly identify and reputation. We are also working through the best way to co-exist with DC, DW and now LC!  At this point we have piloted a few lessons at the CODATA-RDA Summer School in Research Data Science and it looks like the prog

[2016-09-02 22:57] ccronje commented on #6
Thanks this is excellent. Could we add the [log sheet](https://docs.google.com/spreadsheets/d/17EMzgODvvX4qnfpNvHkdIi3VzZp3r_sdYHld1YrpB-A/edit#gid=0) to **What is a workshop**? It will help illustrate the definition and is valuable in other ways e.g. lessons learned. Could we ask that people add to it?

[2016-09-05 10:06] drjwbaker commented on #6
Right. Two things going on here.
1) I will update the blurb based on your wonderful suggestions
2) We need to think through SC/DC relationship in a separate place (which will then feed back into this). I'll set up a fresh issue.

[2016-09-05 10:18] drjwbaker opened #7 "Relationship to Software/Data Carpentry"
Following on from @tracykteal https://github.com/data-lessons/librarycarpentry/issues/6#issuecomment-244492755

To consider:
- Software Carpentry has been coordinating Library focused Software Carpentry events, that I think have even been called Library Carpentry. Do you want this to continue?
- If and what support and relationship does LC want from SWC/DC in terms of instructors, templating and s

[2016-09-05 10:18] drjwbaker commented on #6
Update: blurb above revised.

Where shall we put it?

[2016-09-05 20:55] jezcope commented on #7
I think my understanding was that you can use the SWC/DC materials all you want, but you have to fulfil the conditions (e.g. at least one qualified instructor) to *advertise* it as SWC/DC. Is that correct?

[2016-09-06 02:29] cmacdonell commented on #7
My thoughts:

- I think we want to maintain the relationship with SWC/DC.  LC currently lacks a benevolent dictator, rather it is a team effort with regional leaders.   Therefore I think it's beneficial to have SWC/DC be at least a first point of contact that can then direct inquiries to the appropriate LC person.
- I would highly suggest that LC workshops have at least one SWC/DC-certified instru

[2016-09-06 11:34] drjwbaker commented on #7
Concur that @jezcope is correct. On 'Carpentry', I used this with approval from SWC on the understanding that LC was exploratory and thus wouldn't impact on the brand. In all honesty, in retrospect, I'd have called it Software Skills for Librarians (but let's not go there).

On certified instructors. I am loath to impose this. I see the LC model working a little differently in that we're trying to

[2016-09-06 13:39] ostephens commented on #7
It feels like if we continue to use 'carpentry' then we are drawing on the SWC/DC brand. I feel slightly uncomfortable doing this if we do not do this following the approach of SWC/DC (i.e. require a qualified instructor when using 'carpentry' in the name)

[2016-09-06 15:44] cmacdonell commented on #7
Our ultimate goal is to ensure workshop quality so that our learners are satisfied with the time and money they've spent.  Satisfied learners also protects the Carpentry brand.  I chose my words carefully to *highly recommend* a certified instructor, but grabbing any SWC/DC instructor who is unaware of the library audience is probably not going to ensure a quality workshop either.  So I would agre

[2016-09-06 15:56] Repositorian commented on #7
Adding a few more cents from a Library Administrator perspective at a US Research Library; we are in the process of joining the Carpentry organization as a paying institutional member with the expectation that up to six of our instructors will be Carpentry Certified in 2017.  In that way, we will be properly able to support the Carpentry brand, mission, and teaching approaches while also opening u

[2016-09-07 13:14] drjwbaker commented on #7
*Instructors**: thinking about https://github.com/data-lessons/librarycarpentry/issues/6 and given where we are, I like the wording:

If quora, I'll add it to the blurb

**Chat**: the blurb at https://github.com/data-lessons/librarycarpentry/issues/6 is intended as a baseline for the proposed chat @cmacdonell mentions, so that we have a statement of what we think we are to work from. I *think* Oct

[2016-09-07 13:56] pitviper6 commented on #7
My thoughts on the SWC rules:

I'd like to apply them to LC as far as possible. There is very much a branding consideration here, and one of the big pluses about SWC is its emphasis on pedagogy, community and commitment to quality learning. I went through the instructor training and I cannot emphasize how valuable it is, and how much I learned.

Pros: branding, quality, clarity on what LC is and d

[2016-09-07 14:50] Repositorian commented on #7
So this thread may be exposing some divergent assumptions held amongst the group of us: like blind monks each describing the body part of an elephant without realizing the limits of their respective views. There is a much different whole but each observer can't see it.

In the case of this LC discussion, I'm not sure what that whole is. There is clearly a shared passion for seeing librarians benef

[2016-09-07 15:09] drjwbaker commented on #7
@pitviper6 agreed, if SWC are happy to receive enquiries of this nature.

@Repositorian For me it is because SWC is aimed at research scientists and DC at researchers. Librarianship is - I agree - a HUGE tent and some librarians have happily attended SWC and parsed the lessons into their own contexts (including me when I worked in a library!), but others aren't so research orientated and want to s

[2016-09-07 15:10] drjwbaker commented on #7
Oh, and on the agency point: yes, totally agree, we need as many librarians as possible involved and this is top of my agenda.

[2016-09-07 15:11] pitviper6 commented on #7
Repositorian:

I've thought about this as well. There is definitely a plug-and-play aspect to the SWC/DC/LC model, in that you are teaching the same tool with different datasets depending on the discipline. However, as far as I can tell from the lessons we've taught, there isn't much, if any, difference in what features of the tools are presented or emphasized. Maybe this is different for tools li

[2016-09-07 15:13] ostephens commented on #7
Do we also need to approach this question from the other side - what relationship is SWC/DC willing to have with LC?

[2016-09-07 15:22] drjwbaker commented on #7
SWC based with discipline-specific is, if I understand correctly, what DC are trying to achieve. Hence discussions I've had with @mkuzak about the viability or otherwise of migrating LC examples into DC.

A year ago: go ahead, do things, see what happens. Today: https://github.com/data-lessons/librarycarpentry/issues/6 feels to me like the starting point for that conversation. I'm minded that we h

[2016-09-07 17:17] cmacdonell commented on #7
@Repositorian being one of the non-librarians here I appreciate your comment about the Big Tent.  I might even argue that the librarian tent is broader than some/most other fields that SWC/DC target.  I believe this broadness is what makes the LC "elephant" so difficult to describe.

My hunch is that defining LC as precisely as SWC/DC are currently described may be a mistake, excluding more than i

[2016-09-07 17:40] tracykteal commented on #7
Sorry to be late to the discussion. You're right that yes, SWC/DC lessons are CC-BY and can be taught and used by anyone. To be called a SWC or DC workshop, they need to follow our guidelines. For both that means at least one qualified instructor and teaching our curriculum. DC guidelines here: http://www.datacarpentry.org/workshops/.

It's been great to see the development of these lessons and th

[2016-09-08 09:45] weaverbel commented on #7
As a former librarian and certified SWC/DC instructor, I have no problems teaching Library Carpentry. I definitely draw on my SWC/DC training when I teach but I am also prosetlytising a bit for the future with librarians, i.e. encouraging them to champion the Markdown/pandoc path so we end up with machine-readable data instead of the black boxes of Word documents and PDFs, encouraging them to vent

[2016-09-08 13:44] drjwbaker commented on #7
Okay. If you've forgive me briefly putting a 'benevolent dictator' hat on, I think we need the chat.

I can see three major items of discussion:

1) The blurb https://github.com/data-lessons/librarycarpentry/issues/6 Is this how we see ourselves now?
2) The Advantages/Disadvantages of being part of SWC/DC that @tracykteal set out above https://github.com/data-lessons/librarycarpentry/issues/7#issu

[2016-09-08 14:40] timtomch commented on #7
I'm interested in participating in that discussion!

[2016-09-08 14:50] jezcope commented on #7
Count me in, please!

[2016-09-08 15:04] ostephens commented on #7
+1

[2016-09-08 15:06] cmacdonell commented on #7
Count me in

[2016-09-08 15:17] pitviper6 commented on #7
+1, although being in the middle of the US, I may be iffy depending on the time!

[2016-09-08 15:32] timtomch commented on #7
Time might be challenging: https://www.timeanddate.com/worldclock/meetingtime.html?p1=240&p2=136&p3=250&p4=137

Best bet looks to be something like 21:00 UTC, if our UK friends are OK with a meeting at 10PM.

[2016-09-08 17:06] tracykteal commented on #7
+1 thanks for scheduling!

[2016-09-08 18:56] chodacki commented on #7
+1

[2016-09-08 19:05] Repositorian commented on #7
+1 Glad for the chance to discuss and explore options!

[2016-09-08 19:09] jezcope commented on #7
21:00UTC/22:00BST is fine for me most nights

[2016-09-08 20:02] jt14den commented on #7
+1 Count me in as well.

[2016-09-08 20:32] weaverbel commented on #7
I am in, time zones permitting

[2016-09-08 23:46] ccronje commented on #7
I think LC offers a pathway to change in both library practice and our relevance to researchers who increasingly practice open science/research methods. My Library is starting to sit up and take notice now that the University is seeking DC/SWC membership. From what I've observed internally, management are not quite sure what LC/DC/SWC is about, but at the same time concerned we're falling behind i

[2016-09-09 13:52] drjwbaker commented on #7
@ccronje I totally agree that supporting researchers taking computational approaches is something LC can support. I also think this is the easy option, low hanging fruit et cetera, to just do that. Given the massive variety of librarianship, it feels important to me that we reach people with a) less obvious use cases b) don't necessarily support researchers day to day.

[2016-09-09 14:16] drjwbaker commented on #7
Doodle Poll: http://doodle.com/poll/zwbdqnnxiz22s6nu

Per http://doodle.com/poll/zwbdqnnxiz22s6nu I've picked the two slots where everyone would be joining at a reasonable(ish) time. Once we have a time/date that most people can make (presuming not everyone will be able to), we'll need volunteers for chair, writing the agenda, and note-taking (perhaps a duo). Thanks all!

[2016-09-13 09:01] drjwbaker commented on #7
Can I just check, you are all seeing this Doodle in your own timezones, correct? (so for me, it is showing 2pm and 10pm)

[2016-09-13 13:25] tracykteal commented on #7
Yes, I see it in my timezone (6am and 2pm Pacific)

[2016-09-13 14:20] cmacdonell commented on #7
Yes for me too

[2016-09-13 14:41] Repositorian commented on #7
Yes, I see it in the correct timezone for my location. thanks!

[2016-09-13 16:24] drjwbaker commented on #7
This for confirming. I was worried for a minute that I might commit some terrible timetabling disaster!

[2016-09-14 11:38] drjwbaker commented on #7
Right. Monday 24 October at 2pm is London as come out as the best time, however with the vagaries of time zone changes that I didn't take into acount (sorry!) I've checked that is midnight in Sydney and 6am in LA... https://www.timeanddate.com/worldclock/meetingtime.html?day=24&month=10&year=2016&p1=240&p2=136&p3=250&p4=137&iv=0

[2016-09-14 11:40] drjwbaker commented on #7
But that week has a good slot: 7am Syndey, 9pm London, 4pm Toronto, 1pm LA. So I'll revise the Doddle..

[2016-09-14 11:46] drjwbaker commented on #7
Revised http://doodle.com/poll/zwbdqnnxiz22s6nudsazwg57/admin#table (with apologies I know you are all busy!)

[2016-09-14 11:49] drjwbaker opened #8 "Add Contributor and Maintainer information to lessons"
At present, who names of Maintainers and Contributors are not listed with the lesson. I propose we put the former on the lesson front pages (eg http://data-lessons.github.io/library-data-intro/) and the latter on the lesson readmes (eg https://github.com/data-lessons/library-data-intro/blob/gh-pages/README.md)

I'm happy to take on this work. Do we have quora?

cc @mkuzak

[2016-09-14 11:51] mkuzak commented on #8
+1

[2016-09-14 12:43] ostephens commented on #8
I think the pattern on SWC courses is to have Maintainers in the README and Contributors in AUTHORS?

I'm not sure we need maintainers on the lesson front pages?

[2016-09-14 12:51] mkuzak commented on #8
I don't have much preference, but it may be better to adhere to SC guidelines for consistency.

[2016-09-14 13:07] drjwbaker commented on #8
Okay, I was just thinking about people getting appropriate credit for their efforts. I'll take is as an action to update following SC guidelines.

[2016-09-14 14:48] pitviper6 commented on #7
Looking forward to a great discussion!  I wanted to add some developments that are coming out of the success of the LC workshop at UCSD. We started hearing from the other UC campuses that they also wanted to hold workshops, and so I contacted John Chodacki at CDL/UC3, since they have contacts with all of the campuses and would be in a great position to coordinate a University of California LC 'roa

[2016-09-14 14:50] jt14den commented on #5
This sounds reasonable and I'd be happy to help. I've only used Zenodo on a per repository basis via the GitHub integration. How did you bundle the PH site?  We might want to use  semantic versioning to give flexibility. Maybe a semiannual release would work?

[2016-09-14 15:29] tracykteal commented on #5
This is a good idea. Software Carpentry has done DOIs for each lesson, and I think some of the motivation there was to be able to give authors credit for the lessons they've contributed to, and potentially more than one reference if they've contributed to multiple lessons. It is also is easier to get a DOI for an individual repository. https://guides.github.com/activities/citable-code/

If you wan

[2016-09-14 17:19] jezcope commented on #8
+1 to having maintainers in the README — it makes it easier for
contributors to see who might be reviewing their contribution (and who to
bug on social media etc. to get it merged).

On 14 Sep 2016 2:07 pm, "James Baker" <notifications@github.com> wrote:

[2016-09-14 18:02] drjwbaker commented on #7
Big +1 @pitviper6

[2016-09-14 19:39] drjwbaker commented on #5
Thanks both. I'd rather a bundle as it is easier to manage. Credit for contributions - for now at least - feel for me best handled through other mechanisms (indeed, we are working on this at the moment! https://github.com/data-lessons/librarycarpentry/issues/8 )

My idea was to just collect the relevant repos - `git pull` et cetera - and zip them up, then add metadata on Zenodo. We lose some of th

[2016-09-14 19:41] drjwbaker commented on #8
Okay. I'll push ahead with this.

[2016-09-15 01:20] ccronje opened #9 "Setup menu item not displaying across lessons"
This issue follows on from discussion at https://github.com/data-lessons/library-openrefine/issues/42. All LC lessons are affected. Can @cmacdonell or someone please advise on how best to resolve across lessons? We would like the Setup menu item to be rendered as shown here http://swcarpentry.github.io/lesson-example/.

[2016-09-15 01:36] mkuzak commented on #9
I forked swcarpentry/lesson-exmple https://github.com/data-lessons/lesson-example and plan to customise it with LC content. It then can be used in all lessons as a template.

[2016-09-15 11:02] drjwbaker commented on #9
Is this not something we can fudge into the 'prerequisites' field per http://data-lessons.github.io/library-shell/ Or better still, put a link to a more detailed setup page in the 'prerequisites' field. It is front and centre and pretty hard to miss.

[2016-09-15 11:05] ostephens commented on #9
Putting into pre-requisites looks like an easy short term fix, but I think @mkuzak is right we should adopt the latest template

[2016-09-15 11:08] drjwbaker commented on #9
Okay. If the new template is easy to implement across lessons, I think we should proceed. If it will take some time though, hacking the preqs for now may get over some short term issues with minimal effort.

[2016-09-15 15:16] mkuzak commented on #9
There is new template/example [data-lessons/lesson-example](https://data-lessons.github.io/lesson-example/) with Library Carpentry logo. I'm not sure how much we want to customise it. Any suggestions?

[2016-09-15 15:24] drjwbaker commented on #9
http://data-lessons.github.io/library-data-intro/ has a 'cite' link. And a 'Contribute' page that is a little more LC 'as it is right now'-focused than the direct to contributing.md. Happy to drop the latter (though we need to retain the info somewhere), but I think the former is important: it should be clear from the landing page how to cite the lesson.

[2016-09-15 15:59] mkuzak commented on #9
@drjwbaker  I updated CITING and CONTRIBUTING.md with LC specific content from library-data-intro lesson. I also added cite link in the footer.

[2016-09-15 16:18] drjwbaker commented on #9
With a little of this http://data-lessons.github.io/library-shell/contribute/ sprinkled in, we'll be good to go! I like how the new template presents footers. Thanks for doing the heavy lifting on this @mkuzak!

[2016-09-15 16:30] mkuzak commented on #9
In the old temple the contributing in footer leads to CONTRIBUTING.md an one in the navbar (top) leads to http://data-lessons.github.io/library-shell/contribute/
This is a bit confusing I think. Plus in new template there is no contributing in navbar.

[2016-09-15 16:32] drjwbaker commented on #9
Sure. We just need to change the CONTRIBUTING.mds so that the Gitter, run a workshop stuff, is in there as well.

[2016-09-15 16:35] mkuzak commented on #9
Great, can you edit it the way you want it?

[2016-09-15 16:44] drjwbaker commented on #9
Done (I've made a pull request). Note that the link at 'raising an issue' is lesson specific, so someone (I did it last time, can do again) needs to make sure that the link goes to the right place for each lesson.

[2016-09-15 16:46] mkuzak commented on #9
merged,
we need to keep this information about the link somewhere (unfortunately there are no comments in markdown :()

[2016-09-15 16:46] #9 closed

[2016-09-15 16:51] drjwbaker commented on #9
I guess that is possible. I hacked it (and a few other places) that way because I didn't get Jekyll templating. Note, for example, I changed where the 'Contact' link goes on all the lesson pages, eg http://data-lessons.github.io/library-data-intro/, so it goes to the Gitter rather than SWC.

[2016-09-15 21:03] chodacki commented on #7
As @pitviper6 mentioned, my team has been looking into ways to facilitate library training programs. We have resourcing this program internally and actively pursuing external funding as well. We plan to utilize our library communities like LC and also leverage existing organizations like DC/SWC. As you all know, when you start these types of relationships, it requires setting some lightweight stru

[2016-09-16 09:29] drjwbaker commented on #8
Contributor info is done.

Author info, I've had a change of heart. SWC do this https://github.com/swcarpentry/shell-novice/blob/gh-pages/AUTHORS. We at the moment do this https://github.com/data-lessons/library-openrefine/network/members. I actually kind like what we do, because it leverages the services GitHub offers to represent authorship. It isn't perfect, but it feels more maintainable (if t

[2016-09-16 10:48] drjwbaker commented on #7
**MEETING UPDATE**

Current best date/time based on the Doodle is Thursday 6 October at 2pm in the UK and these slightly awful times https://www.timeanddate.com/worldclock/meetingdetails.html?year=2016&month=10&day=6&hour=13&min=0&sec=0&p1=240&p2=136&p3=250&p4=137 elsewhere (no idea how I ended up on the call at a nice time..) Anyway, I've yet to hear from @weaverbel who is on leave. So if we are

[2016-09-16 10:52] ostephens commented on #7
+1 to having @weaverbel on this call.
Google Hangouts would work for me as a service for the meeting, but no strong preference

[2016-09-16 11:42] drjwbaker commented on #7
I'm happy with Hangouts, though with video and mics off by default (turn them on when you want to talk). Otherwise it can go a bit haywire with large groups.

[2016-09-16 14:47] timtomch commented on #7
Noted. I've used appear.in in the past, found it a bit more resilient for larger groups, but at least one participant never got her audio to work, so not ideal. Skype actually works pretty well, especially audio only. It does require everyone to have  Skype account, though.

[2016-09-16 15:00] drjwbaker commented on #7
I like Skype as well. But yeah, accounts required.

[2016-09-16 15:11] ostephens commented on #7
Skype OK for me as well

[2016-09-16 15:15] pitviper6 commented on #7
+1 for Belinda, and I've got a Skype acct.

[2016-09-16 16:05] tracykteal commented on #7
Also +1 to Belinda, so let's confirm with her before sending out a calendar link.

I can set up a BlueJeans link for the call. It handles multiple people well and no account or login is required. We use them for our SWC/DC Community and discussion calls.

[2016-09-16 16:55] drjwbaker commented on #7
@tracykteal: if you recommend it, great.

[2016-09-16 18:04] cmacdonell commented on #7
bluejeans is quite good.  It has nice moderator controls for muting people, etc.  For SWC/DC meetings it seems to handle 10+ people without any issues.  It's a paid service and fortunately the other carpentries pay the bill ;)

[2016-09-17 07:43] mkuzak commented on #8
I also like the network view more.

[2016-09-19 11:00] drjwbaker commented on #7
Okay. Sounds like bluejeans is a good option then.

[2016-09-19 20:48] tracykteal commented on #7
Great! I set up a meeting and an etherpad, and included the connection details in the etherpad.

Etherpad:
[http://pad.software-carpentry.org/library-carpentry](http://pad.software-carpentry.org/library-carpentry)

Bluejeans connection:
[https://bluejeans.com/809911137](https://bluejeans.com/809911137)
(phone in details in the etherpad)

[2016-09-20 09:11] drjwbaker commented on #7
Great. We'll confirm once @weaverbel is back in action.

[2016-09-21 09:43] #8 closed

[2016-09-21 09:44] drjwbaker commented on #8
Closing this. If you'd rather we use an alternative way of displaying authors, please reopen to discuss further.

[2016-10-03 16:52] drjwbaker commented on #7
# MEETING UPDATE

We are due to meet 6 October per details at https://github.com/data-lessons/librarycarpentry/issues/7#issuecomment-248121595 We will hopefully meet for no longer than one hour.

## Provisional Agenda

1) **Welcome** (JAMES)

2) **[Library Carpentry - state of play October 2016](https://github.com/data-lessons/librarycarpentry/issues/6#issue-174569669)** (ALL) OUTCOME: agree to pr

[2016-10-05 19:52] jezcope commented on #7
I'll volunteer to scribe if no-one else really wants to do it!

[2016-10-06 10:07] drjwbaker commented on #7
Thanks @jezcope!

[2016-10-06 14:45] drjwbaker opened #10 "Requests for Workshops"
As we set out a pathway towards consolidating Library Carpentry whilst protecting the 'Carpentry' brand and not diverting time/funds from SWC/DC, we need to figure out how to manage library software skills training requests for workshops that either come via SWC/DC or from our contacts (so, via established Carpentry and from outside of Carpentry).

A starting point is to have regional contact poin

[2016-10-06 14:47] pitviper6 commented on #6
That was a great call! It was nice to see everybody in one room, so to speak (with a cat!).  To follow up, as I stated before, I'm working for UCSD at 70%, so I do have the elusive librarian free time to work on some things to help along Library Carpentry development.  Here's a few things I could do in the next few months, as a sort of bridge between now and when more concrete things might start h

[2016-10-06 14:52] pitviper6 commented on #10
I'd be happy to be the North American point person. I just wrote something about that over in the other issue!  https://github.com/data-lessons/librarycarpentry/issues/6

[2016-10-06 15:01] chodacki commented on #6
@pitviper6 Thank you for volunteering to dedicate time to this effort.  I think its exactly the type of coordination needed right now.  And I really like Tracy's last point about focusing on the curriculum.  So, I agree your second point is key.  As for funding opportunities, I can help with your research.  And I like your point about conferences.  Another one would be IDCC in Edinburgh next sprin

[2016-10-06 15:07] drjwbaker commented on #10
@pitviper6 Brilliant!

[2016-10-06 15:21] drjwbaker opened #11 "Good Principles for LC Instructors to agree to"
During our call (_see http://pad.software-carpentry.org/library-carpentry for more info_) the idea of having a set of principles for LC instructors came up (thanks @Repositorian for the idea, seconded by @ostephens). Although the pathway for LC is for having an SWC/DC approved instructor at every workshop, this could be off-putting in the short term. So, in the meantime, a set of principles seem l

[2016-10-06 15:23] Repositorian commented on #6
The more transparent this activity can be, the more trust and buyin it will likely garner.

To that end, it might be helpful to clarify the roles and responsibilities for any point person who is handling the LC training requests referred by Tracy. Are they themselves doing the training, or determining who do the training, or are they putting out a call for potential trainers who are interested and

[2016-10-06 15:27] drjwbaker commented on #6
@pitviper6 Thank you so much!

On 2), that would be awesome if you could offer oversight on how all the 5 modules are developing. On 'discipline-orientated lessons' I am not in favour, but what I am in favour of to tailor LC to the many and varied roles of librarians is to bulk out our additional exercises with more variety that touch on IRL concerns.

On 3), please do.

On conferences (and @choda

[2016-10-06 15:27] drjwbaker commented on #6
@Repositorian I've put a light-straw man workflow at https://github.com/data-lessons/librarycarpentry/issues/10. Feel free to burn it down :)

[2016-10-06 15:29] pitviper6 commented on #6
My thought was to put together a list of SWC/DC trainers internationally who are willing/able to do LC workshops. I'm not even sure anyone at CDL is currently certified!

Transparency is key - I would expect to document all decisions/rationales/etc. here, as the community hub.

[2016-10-06 16:20] chodacki commented on #6
@Repositorian I completely agree that we need to be transparent as we move forward.  I think a founding principle MUST be that we are for/by the commons...and not for a single institution.

To respond to your comments about CDL's possible influence: Real quick, I am not interested in limiting this effort and CDL has ZERO ambition to own LC globally, nationally, or even California-wide. Basically,

[2016-10-06 16:37] Repositorian commented on #6
Thanks @chodacki for this... it is certainly a shared value to remain inclusive, transparent, and accountable and look forward to working with you all making Li rary Carpentry programming available as widely as painlessly as possible! :-)

[2016-10-06 16:42] drjwbaker commented on #6
@chodacki Thanks for clarifying and, of course, for the capacity offer.

While we are on transparency vis-a-vis our jobs, for my part it helps if I show momentum towards funding in which I am involved and in turn my employer receives funds (research funding in the UK is based around the model of funders buying out some of your time and/or all of the time for hires you bring in; so money to spend o

[2016-10-06 18:15] jezcope commented on #6
Thanks everyone, I'm sad I had to drop out for my next meeting. On the time front, I don't have a lot of it at the moment, but I've got enough buy-in from my colleagues to get "Run a Library Carpentry workshop" as an official objective this year so I'll be able to provide some time on that basis at least.

I'll be speaking to Aleks Nenadic from [SSI](http://software.ac.uk/) next week so I can see

[2016-10-06 18:18] jezcope commented on #6
I've also started reorganising the library website (see [this branch on my fork of erambler.github.io](https://github.com/jezcope/librarycarpentry.github.io/tree/feature/restructure-site)) and cleared a space on the home page for the information above — does that seem a good place to put it once finalised?

[2016-10-06 18:54] drjwbaker commented on #6
@jezcope On the website, see query at https://github.com/data-lessons/library-data-intro/issues/21 from someone who found us.

On IDCC fab and LIBER is on my target list.

On SSI, are you speaking to Aleks in person or on a call? I've belatedly twigged that are some potential follow-on possibilities from my fellowship..

And great on the objective! Perhaps we can target some new exercises to the n

[2016-10-06 19:35] cmacdonell commented on #6
Hi, just one clarification of language that may avoid future confusion.

In the SWC/DC vernacular, **instructors** teach workshops and **trainers** are something different.  **Trainers** train instructors.  Trainers are likely instructors themselves too, but the role of trainer within SWC/DC is to train those want to teach workshops.

So when @tracykteal spoke of training, she is referring to sess

[2016-10-06 19:53] drjwbaker commented on #6
Huh, I had never noticed that linguistic quirk before! I shall fix various bits of text tomorrow.

[2016-10-06 23:18] weaverbel commented on #10
Sign me up for Australia-wrangling. ;-)

[2016-10-06 23:26] tracykteal commented on #10
Thanks for this. I'll talk with @jduckles about what we can do on our end, because it has been SWC that has been running workshops for librarians.

[2016-10-06 23:29] weaverbel commented on #10
Ok @tracykteal I have AMY access so I can grab the ones I see come in for Australia from there. If others come in directly, I'll put them into AMY? I've done that before.

[2016-10-06 23:38] tracykteal commented on #10
I think we need to figure out if SWC/DC can officially coordinate these workshops. Part of the discussion today was figuring out the relationship between Library Carpentry and SWC/DC, and what the Library Carpentry community wants to do. So far we've been teaching SWC for librarians, and changing out some modules, but we haven't been offering 'Library Carpentry' as far as I know.

[2016-10-06 23:44] weaverbel commented on #10
Definitely a discussion for SWC/DC SC etc then @tracykteal

[2016-10-06 23:48] tracykteal commented on #6
Thanks @cmacdonell. Important clarification.

[2016-10-07 00:13] chodacki commented on #6
Following up on number 2 above ( @drjwbaker @pitviper6 ) I know this can be virtual or in person...but If we want to set up in-person curriculum development workshops where we get LC folks together and work on new modules and QA/finalize each others, maybe we plan on regional events. We could organize workshops at IDCC in Scotland, at Open Repositories in Brisbane, and another at a North American

[2016-10-07 00:22] weaverbel commented on #6
@pitviper6 I am a certified SWC/DC instructor and am happy to teach LC - I think I might have proved that already ... ;-)

[2016-10-07 01:15] pitviper6 commented on #6
@chodacki John, I think that's a great idea! SLA just put out a call for workshops for their 2017 conference in Phoenix the second week of June - just as an example a North American library conference. The challenge here is coordinating lessons and efforts so that we incorporate all the great ideas without duplicating effort. I know this is going to sound administrative-ish, but perhaps thinking a

[2016-10-07 02:03] weaverbel commented on #6
Definitely +1 to library conferences. I just presented a brief Library Carpentry workshop to the Australian Library & Information Association Conference and got about 70 people - maybe could have got more but there were competing talks and events. LOTS of interest and follow ups and many a positive tweet. Definitely a great forum and the young librarians are really keen to get these skills.

[2016-10-07 17:17] tracykteal commented on #6
Thanks @jezcope for those updates to the website. I think outlining 'what does Library Carpentry teach' is an important part of this 'state of play' document.

We have that overview for our [Ecology workshop](https://github.com/datacarpentry/ecology-workshop) and [Genomics workshop](http://www.datacarpentry.org/genomics-workshop/) (admittedly not with great formatting), and I think the one you hav

[2016-10-07 21:10] jezcope commented on #6
Thanks @tracykteal, but I can't claim credit for anything other than fixing the logos at the bottom of the blog page. @jcoliver did the hard work! :grinning:

[2016-10-10 10:36] drjwbaker commented on #7
Any comment on the interim principles for instructors document? https://github.com/data-lessons/librarycarpentry/issues/11

[2016-10-11 07:58] anelda commented on #10
Hi all,

Thanks and well done on moving this initiative forward with so much
enthusiasm!  Apologies for not responding earlier.  I hope to identify
someone in the South African Library community who could play this role as
I think my own contributions as a non-librarian might not in the long run
be what you/the library community needs.

Please keep me in the loop for now as we try to find our SA r

[2016-10-11 08:48] drjwbaker commented on #10
@anelda Thanks for this. Let us know if/when you've found someone!
jb

[2016-10-11 16:41] jcoliver commented on #6
Glad to help out, @jezcope , even if it was largely selfish (I'm presenting to a group of librarians, and I wanted a one-stop spot with all the lessons).

[2016-10-12 08:40] drjwbaker commented on #6
@jcoliver Well that sounds like a good selfish reason to me! If any interest in running a workshop comes out of this, do let us know via http://librarycarpentry.github.io/about/

[2016-10-14 18:04] anelda commented on #10
Hi all, I'd like to introduce @ivdwalt and @erikamias who have agreed to act as the South African representatives. I am not saying good bye to LC, just think it's time someone from the Library community joins this conversation :-). I trust you will enjoy working with them. @ivdwalt & @erikamias, welcome to LC...

[2016-10-14 22:55] cmacdonell commented on #10
Welcome @ivdwalt and @erikamias! I fondly remember working with you in Pretoria :)

[2016-10-15 08:13] ivdwalt commented on #10
Hi All, we look forward to making our contributions and move forward with LC in South Africa.

Isak

[2016-10-17 06:00] drjwbaker commented on #10
Excellent! @ivdwalt and @erikamias: any questions? In the first instance, we imagine local contact points will help us manage requests for workshops and/or info on LC that come to us or via Software/Data Carpentry. Have either of you taken the Software Carpentry Instructor Training course? https://swcarpentry.github.io/instructor-training/

[2016-10-17 06:02] weaverbel commented on #10
Welcome @ivdwalt and @erikamias ! Do you know you can chat to a whole range of Library Carpenters in our ongoing chatroom? Please feel free to come in - it has all the chat since the sprint !
https://gitter.im/weaverbel/LibraryCarpentry

[2016-10-17 08:13] erikamias commented on #10
Hello All :)

I haven't attended the Software Carpentry Instructor training yet but @anelda announced at SWC at PyCon that there will most likely be an instructor training course soon which I would like to attend? I have been lurking on the LC Gitter for some time... I will send you my questions soon!

[2016-10-17 10:10] erikamias commented on #10
Some questions to start with:

Are the LC SA python sessions going to be pitched at the same level as the SWC Python sessions?

If we do offer LC Python sessions is it possible to have one session where (after learning Bash Shell) you do a more basic/introductory python session and then a second session doing more practical work and spending more time on data-analysis/visualisation?

Can part of t

[2016-10-17 10:24] drjwbaker commented on #10
@erikamias:

- on instructor training: no hurry on this. We're aiming to ensure that there are some LC-affiliated folks that go through the training in the next 12 months, rather than it be a rule that every workshop includes a trained instructor (see note on this at http://librarycarpentry.github.io/about/). Getting trained is still on my todo list, for example.
- on Python: we don't have a Pytho

[2016-10-17 22:41] weaverbel commented on #10
@drjwbaker @erikamias Re attendance certs - SWC don't do that as far as I know, but I just make one if someone needs it.

[2016-10-17 22:54] tracykteal commented on #10
I have a LaTex template for letters of completion when they're requested. The pdf looks like this. Happy to share the template!

[template-workshop-participation.pdf](https://github.com/data-lessons/librarycarpentry/files/534847/template-workshop-participation.pdf)

[2016-10-18 00:22] gvwilson commented on #10
We haven't done attendance certificates in the past because we want the
certificate to mean something more than "I sat through this", and we
haven't had the resources to do some sort of final assessment.  It's on
our wishlist, though...

[2016-10-18 00:31] weaverbel commented on #10
@gvwilson I just do an 'I sat through it' certificate for people with bossy workplaces - just a tick in the box thing that says nothing more than that they came and the dates they came.

[2016-10-18 06:19] ostephens commented on #10
@drjwbaker @erikamias there is a Library Carpentry Python lesson in the repo https://github.com/data-lessons/library-python which has only recently been added by @c-martinez

This is based on the Data Carpentry Ecology Python lesson http://www.datacarpentry.org/python-ecology-lesson/ but has been adapted to use the same data set as the Library Carpentry SQL and OpenRefine lessons.

There was some

[2016-10-18 06:27] drjwbaker commented on #10
@tracykteal Thanks much! Basing ours on that seems sensible
@weaverbel @gvwilson From what I've observed, library folk (at least though who came to the UK workshop) often need certificates as paperwork that proves that professional development happened.

[2016-10-18 06:28] drjwbaker commented on #10
@ostephens  @erikamias Okay, I totally missed that! I'll blame the start of term for the umpteenth time this term :)

[2016-10-19 07:26] ivdwalt commented on #10
@drjwbaker @weaverbel I am catching up with the thread (had a server crash that needed attention). My questions are in line with that of @erikamias. I have not completed any of the instructors training but would like to do so asap.

[2016-10-19 12:19] drjwbaker commented on #10
https://amy.software-carpentry.org/workshops/request_training/

[2016-10-21 19:13] pitviper6 commented on #10
Also posted in LC Gitter, but figured I'd put it here as well:
Hey everybody! This is my last day at UC San Diego - starting Monday I'll be working for a consulting firm as a Data Production Manager. It's an exciting opportunity (massive datasets, lots of normalization/taxonomizing, etc), but it does mean that I'll no longer have the academic lifestyle (i.e., time). I had volunteered to be North A

[2016-10-22 02:19] ccronje commented on #10
@pitviper6 Congratulations! 😃  and thank you so much for all your help here! I'd like to assist with your work on OpenRefine.

Just so folks here know, next month I'll be teaching (& learning as I go) the 4 core LC lessons to a group of 5 people in my library (4x librarians and 1x IT). They're really keen to see what it's all about and potentially teach it. It's been trickier than I thought trying

[2016-10-24 08:44] drjwbaker commented on #10
@pitviper6 Once again, my congratulations and thank you so much for your hard work on and enthusiasm towards Library Carpentry.

@ccronje Awesome! Always good to hear of folks passing the skills they have learnt on! Do add this session to the master list https://docs.google.com/spreadsheets/d/17EMzgODvvX4qnfpNvHkdIi3VzZp3r_sdYHld1YrpB-A/edit#gid=0

[2016-11-03 16:24] chodacki commented on #7
Sorry for the silence, I have been on trips the past couple weeks.

Quick update from me:
1. Instructor Training. I am a co-organizer for csv,conf (data conference http://csvconf.com ).  We are planning our next event in early May 2017 in Portland, OR.  I talked to DC/SWC about doing an instructor training focused on the Librarian community around that time.  What do people think?  I do have some

[2016-11-03 19:09] jezcope commented on #7
Hey @chodacki! We were actually just puzzling over the mystery of the [LibCarpentry](https://twitter.com/libcarpentry) twitter account over at https://gitter.im/weaverbel/LibraryCarpentry so thanks for clearing that up! :smile:

Lots of conversation happening on the gitter channel — that might be your best bet for discovering modules in development. I agree we should have a list of them, issues an

[2016-11-04 06:17] drjwbaker commented on #7
@chodacki

1) sounds great. Route it through SWC to test out the interim LC-flavoured SWC workshop mechanism https://github.com/data-lessons/librarycarpentry/issues/10
2) [Python](https://github.com/data-lessons/library-python) is one. XSLT has been mooted. There is another I have forgotten..
4) Yeah, I'm looking forward to DS4L and checking in with Chris. We have slightly different agendas, but u

[2016-11-04 06:23] weaverbel opened #12 "LibCarpentry twitter"
The [@LibCarpentry](https://twitter.com/LibCarpentry) twitter is now live - thanks to John Chodacki.

Please follow and also tweet the news.

John has emailed me the password for the account - please either email me or John to get the password or just ping me in the chatroom to send it. I am weaverbel AT gmail.com. I'll leave it up to John to put his email on here.

[2016-11-04 06:32] drjwbaker commented on #12
@jezcope Did you setup an LC whilst doing the analytics or the request form? We could use that...

[2016-11-04 06:34] weaverbel commented on #12
@drjwbaker I've just emailed you the pw in case anyone wants it from now - am about to go home for the day. We have 3 new people already following !

[2016-11-04 13:37] jezcope commented on #12
@drjwbaker @weaverbel Nope, I used my own account, but ownership for both can be transferred to an LC account if someone wants to set it up.

[2016-11-04 14:21] drjwbaker commented on #12
Okay. I vaguely recall a discussion of an LC email. But if there isn't one, let's not set one up!

[2016-11-10 05:10] weaverbel commented on #12
The @LibCarpentry twitter is now live and @drjwbaker and I both have the credentials if anyone else wants to be a tweeter. I am now closing this issue.

[2016-11-10 05:10] #12 closed

[2016-11-14 15:20] drjwbaker opened #13 "2016 Workshop call judging"
The 2016 workshop call closes 16 December http://librarycarpentry.github.io/workshop-call/ We need a group of people who can agree to read through these and together make a decision by the new year. Say ay below if you can help!

[2016-11-15 02:26] weaverbel commented on #13
It's aye from me @drjwbaker  !

[2016-11-15 07:00] jezcope commented on #13
I'm happy to help!

[2016-11-15 08:09] ostephens commented on #13
I'm happy to help but wondering about the criteria on which submissions will be judged?

[2016-11-15 08:24] drjwbaker commented on #13
Starting point for criteria:
- quality of application
- value for money
- impact on library community
- value for Library Carpentry

[2016-11-15 10:52] drjwbaker opened #14 "XLST Lesson"
[Alan Danskin](http://www.cilip.org.uk/contributor/alan-danskin) has contacted me with a list of use cases for [XSLT](https://en.wikipedia.org/wiki/XSLT) that could form the basis for a lesson around transforming XML documents into other documents. The purpose of this issue is to share these use cases (with Alan's permission) and to open a discussion about whether this is something that we want to

[2016-11-15 11:57] jezcope commented on #14
Other relevant XML formats that came up in an unrelated conversation today (about research data): Dublin Core, RDF, METS.

[2016-11-16 17:35] drjwbaker commented on #14
Okay @jezcope. Potentially stupid questions, but XLST can handle transformations from/into these formats as well?

[2016-11-16 17:44] ostephens commented on #14
XSLT can handle any XML->XML transform (at least in theory)
It can also handle other type of transform - e.g. XML->CSV although this isn't the primary use

I'd probably recommend against using XSLT to create RDF, but I can't see any reason why this would be impossible to do

[2016-11-16 17:47] jezcope commented on #14
Not a stupid question at all! The short answer is yes they can.

A longer version of the answer that may muddy the waters more than it
clears them: All the metadata schemas mentioned above are not explicitly
tied to XML (they're abstract specifications independent of any specific
file format), but are commonly expressed in XML[^1]. XSLT can transform
from any XML-based format to any other XML-base

[2016-11-16 17:55] ostephens commented on #14
There is a cross over with web-scraping in that XPATH is often used as the method for extracting data from HTML pages when web scraping

[2016-11-21 08:45] drjwbaker commented on #14
Ah yes, the 'XML-based format' thing is somewhere in the depths of my brain. Thanks for prodding it out! I know the BL use XSLT to transform RDFXML to CSV for their 'researcher' formats (see http://www.bl.uk/bibliographic/download.html). I'm sensing that there are a range of use cases here but that their broad applicability to our audiences - as we know them thus far - might be harder to nail down

[2016-11-22 04:43] weaverbel commented on #7
On a totally unrelated thing, I do now think Library Carpentry is a third Carpentry, and should stand alone. SWC and DC are both aimed at helping researchers be more efficient etc whereas LC is about helping a professional group skill up - so it's very different in kind.
I did raise this at SWC steering committee and I think people now agree with that view.

[2016-11-23 00:04] weaverbel commented on #13
@drjwbaker Are we going to give the whole 500 quid to one lot? Or is there room in the judging to split it between two (or more) equally worthy applicants? 500 quid sounds like a lot of money to me - maybe we could get two workshops for the money? What do other people think? Or maybe we could have a 1st, 2nd, 3rd where the best app gets 300, the runner up gets 125 and the third lot get 75? I have

[2016-11-24 17:57] drjwbaker commented on #13
Depending where you are and if it costs you money to book space, £500 can go very quickly in my experience (indeed I suspect £500 wouldn't be enough for some people). We have room to go back to people and see if they can make savings. Ultimately, it is our choice. I'd like to think we can support more than one workshop financially, but we'll see who applies and what they think they need.

[2016-11-25 03:38] weaverbel commented on #13
@drjwbaker Good point - I hadn't thought about room bookings - we get a lot of 'in kind' support working in unis.

[2016-11-25 07:44] drjwbaker commented on #13
We do as well, I just don't like to assume that everyone does.

[2016-11-25 16:22] drjwbaker opened #15 "New Logo"
We have a new logo! ([vector file](https://www.dropbox.com/s/pdu8ywhswonst2w/LibraryCarpentry_Logo_Vector.ai?dl=0), [pdf](https://github.com/data-lessons/librarycarpentry/files/613599/LibraryCarpentryLogo_Draft_04.pdf))

I'll start integrating these next week around the lessons and sites next week.

Credit to [Tammy Nguyen](https://twitter.com/tammysongnguyen) for her AWESOME work (and to [Alix Ke

[2016-11-25 16:28] drjwbaker commented on #7
Thanks for parking this here @weaverbel.

[2016-11-28 13:26] Repositorian commented on #14
Hey Library Carpentry colleagues,

Transforming marked up text documents from one format to another is on the lesson roadmap for Author Carpentry, as well.  Our use cases would be transforming author's cv's, pubs lists, and even manuscripts  from one mark up scheme to another. This sounds like an overlapping area we might collaborate on.

[2016-11-29 09:23] drjwbaker commented on #14
@Repositorian Splendid. Sounds a plan. Have you seen http://programminghistorian.org/lessons/transforming-xml-with-xsl? Might be worth building on.

[2016-12-02 08:25] drjwbaker commented on #15
Done (though it is a little small..)

[2016-12-02 09:57] ostephens commented on #15
I've increased the width allowed for the site-avatar on https://librarycarpentry.github.io/ so the logo doesn't get shrunk.

On the Lesson pages I think we should consider having an alternative version of the logo - my suggestion is:

* Use just the 'LC' part of the logo - this would allow us to make the logo display larger without increasing the height of the navigation bar
* Some colour (at the

[2016-12-02 10:07] drjwbaker commented on #15
Cheers @ostephens

I've changed the file at http://data-lessons.github.io/library-data-intro/ Do you know where in the template config we can change the site of site avatars? I can make the changes once I know where to make them!

[2016-12-02 10:14] drjwbaker commented on #15
Scratch that. Found it. I think..

[2016-12-02 10:21] drjwbaker commented on #15
How's that? http://data-lessons.github.io/library-data-intro/ Any bigger and the bar looks daft (all I've done is adjust the logo and buffer size at https://github.com/data-lessons/library-data-intro/blob/gh-pages/assets/css/lesson.scss)

[2016-12-02 10:50] ostephens commented on #15
Just my opinion but...

I think the logo looks better with the interlocking staggered height L and C
I think 70px is as high as the bar should go - so I'd take the navbar-logo size down to 70px
I still think it probably needs some colour to stand out

Just my 2p though

[2016-12-02 20:34] cmacdonell commented on #15
I like the staggered logo as well.  The grey logo with everything else black on http://librarycarpentry.github.io does tend to wash it out.

Rather than adding colour, what about using a larger logo and removing the text that reads "Library Carpentry"?  SWC and DC have a "banner" navbar above their logo, we could do something like that.

[2016-12-15 12:25] drjwbaker commented on #15
Are you referring to the blue banner here https://software-carpentry.org/ @cmacdonell?

[2016-12-15 15:04] cmacdonell commented on #15
Yes, and the wood-grain banner on http://datacarpentry.org

[2016-12-19 11:40] drjwbaker commented on #13
@jezcope @weaverbel @ostephens @richyvk All. We've had 10 applications! I've linked you to a document for marking them (note, we have a tab each!), included within which is a link to a folder with the applications. Any problems getting access let me know.

To keep it simple, I've suggested a simple 1-5 marking scheme for the criteria above https://github.com/data-lessons/librarycarpentry/issues/13

[2016-12-28 01:30] weaverbel commented on #13
Hi all. I have put my preliminary ratings and comments on the spreadsheet. I might revisit though once I think about them all a bit more. My big concern is the lack of ambition with numbers - if we are going to blue 500 quid, it would be nice to see more than 15-20 people trained. I would like to see any winner open up the workshop to people nearby so numbers could potentially reach 30, or even 40

[2016-12-29 10:40] richyvk commented on #13
Hi. I've also added my ratings to the spreadsheet, and a few comments that hopefully clarify my decisions.

A couple of things I was kind of unclear about - firstly the column 'Target audience HE' - why was this included - is LC somehow aimed primarily at HE? I couldn't find anything to say it is. Anyway, I haven't included that in my considerations.

I note at least one of the proposals was to te

[2016-12-29 11:36] drjwbaker commented on #13
@weaverbel Kinda agree on numbers, but I'm minded that £500 doesn't go that far (in the UK at least!) and that - perhaps - folks have been conservative because they've tried to balance instructor/helper/attendee numbers.

@richyvk

- target audience. I merely added that because we are very HE focused at present (by accident rather than design) and I wanted to make a distinction between those who s

[2016-12-29 11:37] drjwbaker commented on #13
(and of course, thank you SO MUCH!!)

[2017-01-06 07:34] drjwbaker commented on #13
@richyvk @weaverbel @jezcope So, pending @ostephens it looks like we have one outstanding candidate. This happens also to be cheap, so we'd need to decide a) where we want the rest of the funds to go and b) which other events we'd like to support with person time. I'm on leave after today until 16 January, so perhaps we can set a chat up for 19, or 20 Jan? As we're UK and Aus based only, we should

[2017-01-06 10:25] ostephens commented on #13
Apologies for the delay - will do my marking today.

I can do 20th Jan pretty much any time. 23rd & 24th also work for me

[2017-01-06 11:21] ostephens commented on #13
OK - marking complete

[2017-01-06 13:34] drjwbaker commented on #13
Thanks Owen!

[2017-01-08 12:17] richyvk commented on #13
@drjwbaker thanks for answering my questions :)

I'm on hols from 18 - 23 Jan, but I might be able to dial in for a chat. But in case I can't my immediate  thought would be just fund (or part fund) the 2nd place submission with the remainder funding (if that can work?).

[2017-01-17 10:18] drjwbaker commented on #13
What about 24 Jan at 0900 UTC / 1900 AEST ? https://www.timeanddate.com/worldclock/converter.html?iso=20170124T090000&p1=136&p2=47 Or 0800 UTC if others can? I'll email @weaverbel the details.

I'd like to talk a little about what we had, no least in terms of non-funded events we might support in the future.

[2017-01-17 13:45] jezcope commented on #13
I'm busy 9-10 next Tuesday. I usually get into the office about 08.15, but that's heavily dependent on the trains. 1000UTC/2000AEST would work for me though. (All times UTC)

[2017-01-18 01:19] weaverbel commented on #13
Hi all
Good for me - do you want me to send a zoom invite or will we do a hangout? Zoom is pretty good.
1000UTC works but I can do any time that day.

[2017-01-18 08:00] drjwbaker commented on #13
Looks like 10:00UTC/20:00AEST on 24 Jan then. @ostephens: does that work for you?

Don't know Zoom. Happy to use whatever service someone else knows to be robust!

[2017-01-19 08:20] ostephens commented on #13
I'm currently juggling some other commitments on 24th - I'm going to have to finalise those first before I can commit to joining this call. Apologies

[2017-01-19 22:32] richyvk commented on #13
I should be around to make that. Will be great  to chat in person :)

Richard

On 18 Jan 2017 6:30 PM, "James Baker" <notifications@github.com> wrote:

[2017-01-20 09:56] ostephens commented on #13
Yes - please go ahead whether I can make it or not. Best wishes. Owen

[2017-01-20 12:56] drjwbaker commented on #13
Okay, 10:00UTC/20:00AEST on 24 Jan it is, with me, Jez, Richard, and Belinda (plus Owen as a maybe).

If @weaverbel sets up a Zoom call, fine, otherwise I'll link a hangout here on Tuesday morning.

Our agenda is quite simple:

- agree on allocation of funds
- agree on which unfunded events we are wiling to support or recommend for support (and who might be able to help)

Looking forward to it!

[2017-01-24 07:05] weaverbel commented on #13
Hi all - The zoom link for our meetup later is https://aarnet.zoom.us/j/666360353 - Jez, I couldn't find an email address for you but I hope you will see this. James. maybe you could forward the link to Jez?

[2017-01-24 08:26] drjwbaker commented on #13
Thanks @weaverbel. I've forwarded to Jez.

[2017-01-24 08:34] jezcope commented on #13
:+1: Thanks @drjwbaker @weaverbel

[2017-02-02 16:48] jezcope opened #16 "Adding github topics to LC lessons"
This week Github [announced the ability to add topics to repositories](https://github.com/blog/2309-introducing-topics) so it's worth looking at what topics we ought to add to ours.

Software Carpentry are also discussing this so we should probably attempt some kind of consistency swcarpentry/styles#130

[2017-02-03 13:59] drjwbaker commented on #16
@jezcope Good catch? Are you monitoring the SWC discussion? If so, we should - I think - mostly do what they do with a 'library' and/or 'information science' flag somewhere.

[2017-02-07 14:30] jezcope commented on #16
Yup, I'm keeping an eye on it. There hasn't been much discussion yet!

[2017-04-28 02:14] weaverbel opened #19 "Sprint issues"
Please use **Issues** to raise questions, report problems and other things for discussion during the sprint. Be sure to label your issue `mozsprint` so we can find these easily.

[2017-04-28 14:45] jezcope opened #20 "Pre- and post-workshop questionnaires"
Should we think about customising these to be more applicable to library & information professionals?

[2017-04-28 14:46] jezcope commented on #19
I just tried, but apparently labels can only be set be repo collaborators and it seems that I'm not one!

[2017-04-29 00:04] weaverbel commented on #19
Hi @jezcope I've invited you to be a repo man ! aka an admin here. Sing out if that doesn't work.

[2017-04-29 00:05] weaverbel commented on #15
I am closing this as MSL wants the repo to be spick and span so it isn't confusing for sprinters when they come in. We can always re-open issues if we need to.

[2017-04-29 00:07] weaverbel commented on #20
@jezcope @drjwbaker I am in favour of that. I think something short and simple that also addresses the specific tools in the planned workshop is worth doing.

[2017-04-29 00:54] weaverbel commented on #13
I think we can close this one now !

[2017-04-29 00:54] #13 closed

[2017-04-29 15:10] jezcope commented on #19
@weaverbel Seems to have worked. Thanks!

Should we be raising surrogate `mozsprint` issues here to link to those in other repos, e.g. data-lessons/library-python#38?

[2017-04-29 23:08] weaverbel commented on #19
@jezcope Why not? We can also link through to the repos in question from the issue. Maybe raise that in the chatroom?  I don't think we've really worked out our sprint plans fully so it is timely. I'm on the road for the next month which is why I am trying to nail this all down now.

[2017-05-01 19:48] jezcope opened #21 "Rework Python lesson"
Further details and discussion over at data-lessons/library-python#38

[2017-05-01 20:02] jezcope opened #22 "Work on incubator lessons and process"
There are currently two lessons in an "incubator" phase:

- [library-webscraping](https://github.com/timtomch/library-webscraping)
- [library-spreadsheets](https://github.com/jezcope/library-spreadsheets)

They both need further development as well as being taught some more so they can be refined. We also need to make sure they are flagged up better on the website as needing further development.

[2017-05-01 20:06] jezcope commented on #22
See also LibraryCarpentry/librarycarpentry.github.io#22

[2017-05-01 20:07] jezcope opened #23 "Refresh & revise Library Carpentry website"
The website is at http://librarycarpentry.github.io — [see `mozsprint`-tagged issues for more details](https://github.com/LibraryCarpentry/librarycarpentry.github.io/labels/mozsprint)

[2017-05-02 09:31] drjwbaker commented on #20
@jt14den asked after one of these recently.

[2017-05-02 20:15] jezcope opened #24 "Archive carpentry"
Details and discussion at LibraryCarpentry/librarycarpentry.github.io#25

[2017-05-02 20:19] jezcope commented on #24
Ideally, the list of workshops should be:

1. Rendered on the website; and
2. Downloadable in machine-readable form e.g. JSON

@weaverbel Not sure if we need to do this ourselves or just tap into AMY?

[2017-05-02 20:21] jezcope opened #25 "Publish forthcoming and past workshops on the web"
Details and discussion at LibraryCarpentry/librarycarpentry.github.io#26

[2017-05-02 20:23] jezcope opened #26 "Improve OpenRefine lesson"
Plenty of issues, big and small, to get your teeth stuck into over at [data-lessons/library-openrefine](https://github.com/data-lessons/library-openrefine/issues).

[2017-05-03 21:13] weaverbel opened #27 "Instructor Guides for LC lessons"
I would like to see instructor guides developed for all Library Carpentry lessons. This could be a good sprint project. Librarians will probably like to have some guidance on how to teach what for many will be new material. Not sure what instructor guides should consist of ? Then -see some of the guides for Software Carpentry lessons, e.g. shell - http://swcarpentry.github.io/shell-novice/guide/,

[2017-05-03 21:18] tracykteal commented on #27
These are definitely great and would be a good sprint project. There's a nice template for instructor guides that @k8hertweck put together in the SWC lesson-example repo https://github.com/swcarpentry/lesson-example/blob/gh-pages/_extras/guide.md

[2017-05-03 21:19] pitviper6 commented on #27
Great idea!  I'd love to work on those!

On Wed, May 3, 2017 at 2:18 PM, Tracy Teal <notifications@github.com> wrote:

[2017-05-03 21:23] k8hertweck commented on #27
Thanks for spreading word of the template, @tracykteal. I'd be really excited to see Library Carpentry get some examples of these notes put together so we can see how they work with lessons (and then maybe find some folks to rework the old notes from SWC and SC into the new template)

[2017-05-03 21:34] tracykteal commented on #27
We used it for the Data Carpentry Ecology spreadsheet lesson, if you're looking for an example. It worked well!

http://www.datacarpentry.org/spreadsheet-ecology-lesson/guide/

[2017-05-04 16:11] drjwbaker commented on #27
Okay. This does look like a sprint task. But also one that each lesson maintainer should lead on. How best to manage this?

[2017-05-05 17:57] drjwbaker commented on #27
Why didn't we just pull across the SWC ones in the first instance? We have the page, but with just placeholder text... (eg http://data-lessons.github.io/library-shell/guide/)

[2017-05-05 17:59] drjwbaker commented on #27
(for, of course, the lessons where there are SWC/DC equivalents)

[2017-05-05 18:02] drjwbaker commented on #27
Okay. I've just done it for this lesson https://github.com/data-lessons/library-shell/commit/d8b0e7c9a250f7dbe283e6871594ab615371be59

[2017-05-05 20:18] weaverbel commented on #27
Good work !

[2017-05-12 15:58] drjwbaker opened #30 "Manage handouts"
Referring to https://github.com/data-lessons/library-openrefine/issues/60#issuecomment-301086272 ensure that:

1) There is a place for handouts in each lesson repo
2) There is a place for handouts on each lesson website
3) There is a suggested workflow for converting .md to presentations formats so that instructors can print handouts with ease. Recommend both programmatic workflow (eg Pandoc) and

[2017-05-12 18:31] weaverbel commented on #30
@drjwbaker Do you want to add to this issue that we would like the handouts created as well? I think we should let people make handouts based on the lessons.I will put 'create handouts' as another sprint job in the README.

[2017-05-15 16:20] drjwbaker commented on #30
@weaverbel I'd leave it as down to the lesson maintainers. I'm seeing @jt14den this week, so I'll speak to him about maintaining shell handout (I tend to use one and have a starting point that can be used for this).

[2017-05-16 01:59] weaverbel opened #31 "Create list of shell tasks for librarians"
We need to create some scenarios and use cases for the shell lesson, and this could be a good sprint task.

We have counting and mining data, we have grep to find info within files, and basic shell navigation. Should we do a FOR loop? And what else? At my workshop today, people wanted specific tasks the shell can do for librarians. It would be good to create a list.

[2017-05-16 10:46] ostephens commented on #31
Just a couple of suggestions where I've used shell scripts:
File renaming
Fetching files from list of URLs in a file

[2017-05-16 12:04] weaverbel commented on #31
I agree @ostephens - batch file renaming and moving is a great one. I can work up an exercise for that - we need more 'doing' in that lesson as opposed to showing. Not sure how the fetch files thing would work - can you please tell me more?

[2017-05-16 23:08] ccronje commented on #31
A use case that came up recently was creating a for loop to iterate through a group of values and copy the matching ones into its matching column. The problem we were trying to solve was: an extract from one of our systems had all the different types of researcher IDs grouped together in a column (e.g. Scopus_ID, WoS_ID, PubMed_ID etc). Some researchers had no IDs, others had all of them, others h

[2017-05-19 20:09] ljsmart commented on #31
Finding, matching, and sorting is common use case I think. I'm currently dealing with an inherited tech report digitization project with really bad tracking data and documentation. I've got a list of 908 MARC records for the collection of reports and a directory full of pdf files. And the numbers don't match up.

[2017-05-19 20:52] ljsmart commented on #31
Finding, matching, and sorting is common use case I think. I'm currently dealing with an inherited tech report digitization project with really bad tracking data and documentation. I've got a 908 delimited records for the collection of reports and a directory full of pdf files. And the numbers don't match up.

The pdf file names are a variation of the call number which substitutes underscores for

[2017-05-19 23:25] ccronje opened #32 "Discuss how to manage more examples and use cases"
It would be good to have an easy way for the community to include more examples/use cases in each lesson without impacting on the lesson's core worked examples and length/time concerns. The discussion that sparked this issue: https://github.com/data-lessons/librarycarpentry/issues/31.

One solution might be creating a markdown file in each lesson where we can keep adding 'recipes', like this https

[2017-05-20 09:02] drjwbaker commented on #31
@ljsmart Thanks so much for this use case. Seems shellable to me. Do you mind sharing some examples of the call numbers and file names? (having real world patterns to work with is better than making them up!)

[2017-05-22 10:49] ostephens commented on #31
@weaverbel an example of "Fetching files from list of URLs in a file":

Downloading data from KB+ (online service listing titles in e-journal packages):
- Given a list of package names and URLs from KB+ in a csv file like:

- iterate through the list
- add the domain/path to the URL
- download the files at those URLs

Shell command would look like:

`while IFS=, read f1 f2; do wget --no-check-cert

[2017-05-22 20:59] ljsmart commented on #31
I don't mind sharing at all. In fact, I'll offer up csv lists of the pdfs and collection call numbers as data for exercises. I'm currently on vacation and traveling over the U.S. long weekend, but will add the file to the github as soon as I'm able upon my return to the office.

[2017-05-23 14:07] drjwbaker commented on #31
Awesome! Thanks @ljsmart

[2017-05-25 15:44] drjwbaker opened #33 "Add maintainers to readme for each lesson"
Simple action (also review all readmes for consistency whilst there).

[2017-05-25 15:49] drjwbaker commented on #15
Reopening for sprint. Task is to make the logo look better on all LC lesson pages, e.g. http://data-lessons.github.io/library-data-intro/

[2017-05-25 16:05] drjwbaker opened #34 "Can someone make me an 'organisation owner' of https://github.com/orgs/data-lessons/teams/library please"
I want to be able to assign issues to people but I need to add them to the team here to do that and I can't unless I'm an 'organisation owner'. @weaverbel?

[2017-05-25 16:07] drjwbaker commented on #33
See https://gitter.im/weaverbel/LibraryCarpentry?at=59270044c4d73f445ae2f622 for list of names.

[2017-05-25 16:36] drjwbaker commented on #21
Issues should be assigned to @richyvk (I don't appear to have the privileges to do this!)

[2017-05-25 17:03] tracykteal commented on #34
Can you enable two-factor authentication on your account? Then I can add you as an organization owner.

[2017-05-25 17:07] drjwbaker commented on #34
@tracykteal Done.

[2017-05-25 17:10] tracykteal commented on #34
Great, you should be set!

[2017-05-26 05:40] drjwbaker commented on #34
Thanks Tracy!

[2017-05-26 05:40] #34 closed

[2017-05-31 00:03] antonangelo commented on #31
I'm thinking of an exercise combining grep and tail for reading logs: `tail -f | grep -i "ERROR"`  That includes command redirection as well.  the flow might be

-`cat`
-`grep`
-`tail`
-`pipe`

The challenge is not having a raw, being written to in real time, log file, and finding a file that has been anonymised.

[2017-05-31 11:01] ostephens opened #35 "Review web scraping lesson and get it ready for publication"
The web scraping lesson https://github.com/data-lessons/library-webscraping was initially developed by @timtomch

The contents of @timtomch's lesson has been copied to this repository to be reviewed and amended before it is ready for publication as part of the library carpentry materials.

Use https://github.com/data-lessons/library-webscraping/issues for issues to be worked on during the sprint

[2017-06-01 10:08] drjwbaker commented on #24
Working on this at the British Library site. First task is to review the call for feedback from archivists.

[2017-06-01 11:17] jcolomb opened #36 "SQL lectures"
Let's see what exists as sql courses.

----

you may check sololearn course on SQL, I got my basics there.
@rissom talked about https://sqlzoo.net

(#mozsprint, please label it dear admin)

[2017-06-01 12:08] drjwbaker commented on #30
How is this for instructor notes on making a handout? http://data-lessons.github.io/library-data-intro/guide/ Comments from other lesson maintainers appreciated @ccronje @weaverbel @ostephens @mkuzak @jezcope

[2017-06-01 12:33] mkuzak commented on #30
@drjwbaker looks good
pandoc is quite a heavy dependency, it's nice to have an alternative with dillinger.io
I was wondering if there is an open source, multiplatform markdown editor with pdf export.

[2017-06-01 12:44] drjwbaker commented on #30
My idea is that dillinger is not a permanent solution but much much easier than enforcing pandoc. Is people have other ideas, great!

[2017-06-01 13:22] drjwbaker commented on #32
The problem of using the wiki - as far as I can see - is that if learners are working from (say) http://data-lessons.github.io/library-shell/02-counting-mining/ and the instructor wants to use an alternative lesson at https://github.com/data-lessons/library-shell/wiki, is pushing learners to a new webpage unnecessary added confusion?

What about the 'options' model at http://data-lessons.github.io

[2017-06-01 13:33] drjwbaker commented on #33
Done.

[2017-06-01 13:33] #33 closed

[2017-06-01 13:35] drjwbaker commented on #30
See Shell lesson as potential model to build on https://github.com/data-lessons/library-shell/issues/34

[2017-06-01 14:43] drjwbaker commented on #22
Thanks for http://pad.software-carpentry.org/library-carpentry-incubator @jezcope
My comments are inline.

[2017-06-01 16:05] drjwbaker opened #37 "Review/Revise Git lesson"
@ndalyrose and @alexandermendes are going to work through, revise, and improve the Git lesson tomorrow (British Library, UK site). Refer to https://github.com/data-lessons/library-git/issues/7 during the work.

[2017-06-01 16:07] drjwbaker commented on #24
Quick update: lots of progress. People working on alt data intro for librarians. Lots of findings to report back tomorrow!

[2017-06-01 21:38] thomasgpadilla commented on #31
@drjwbaker and I put together a bunch of shell oriented examples that admittedly leverage other tools, e.g. ffmpeg and tesseract. Re: librarian use case, I use tesseract from time to time to generate plain text derivatives to support digital scholarship instruction, primarily in the humanities.

https://datapraxis.github.io/sourcecaster/

[2017-06-02 02:29] jduckles commented on #36
The Carpentries have extensively taught SQL lessons:
* http://swcarpentry.github.io/sql-novice-survey/
* http://www.datacarpentry.org/sql-ecology-lesson/

The ecology lesson from Data Carpentry is probably more along the lines of the level at which would resonate with LC. I suggest you use the structure of an existing lesson and adapt it to a data set more interesting to librarians.

[2017-06-02 09:58] JennyBunn commented on #24
Was working on this yesterday with Charlotte and Sanayah, but can't make it to London today, so will do a quick update here. We reviewed the results of the survey and came up with a cluster of responses that were essentially talking about data migration and manipulation, import/export, cleansing and that sort of thing. This cluster included talk of XML/EAD/EAC, .csv and Excel, Python, OpenRefine,

[2017-06-02 10:11] charlottekostelic commented on #24
@jennybunn is working on editing the Jargon Busting episode of Data Intro for Archivists and I am working on the Foundations section. We are editing the focus of the lesson so that we look at archival collections and archival description as data. This can still allow for an introduction to computational approaches and the tool that will be taught in the last episode will still be Regular Expressio

[2017-06-02 12:38] thegsi opened #38 "Add Travis Continuous Integration to prevent Jekyll build failing"
http://jekyllrb.com/docs/continuous-integration/travis-ci/ I am happy to implement but will require lesson repo admins to have Travis accounts and enable etc

[2017-06-02 12:41] drjwbaker commented on #24
I've made https://github.com/data-lessons/data-intro-archives (thanks to @weaverbel for the help). I've made @charlottekostelic an admin. I suggest this goes in the incubator cc @jezcope. I suspect we'll work more on it post sprint: for example, adding to both Lib and Arch intro lessons something in the Instructor Notes about using material from both lessons if you want. But this is start, and I k

[2017-06-02 12:42] drjwbaker commented on #38
Pinging @cmacdonell

[2017-06-02 13:15] drjwbaker commented on #30
Discussion of potential alternatives at https://github.com/data-lessons/library-shell/issues/34 Consolidate discussion here.

[2017-06-02 13:19] drjwbaker opened #39 "Review learning outcomes for all lessons"
Following comments at Portland Instructor Training, ensure that all LC lessons have learning outcomes that fit Bloom's Taxonomy http://swcarpentry.github.io/instructor-training/19-lessons/

1) Review
2) Edit
3) Create issues on lessons if edits not appropriate (for example, lessons under development)

[2017-06-02 13:19] #39 closed

[2017-06-02 14:12] gvwilson commented on #30
We can automatically generate a handout from the key points listed in the header of each episode to create a printable page (and then use conditional CSS to format it differently if so desired) - see https://gvwilson.github.io/handout-example/handout/ for an example of what would be included for the example lesson.

[2017-06-02 15:48] drjwbaker commented on #24
Lesson tidied up a bit at https://github.com/data-lessons/data-intro-archives

When we have edits to lesson materials, I can/will merge them.

[2017-06-02 15:59] drjwbaker commented on #30
@gvwilson I found yesterday, however, that I can't put regex in keypoints as it breaks the formatting of the header.

[2017-06-02 15:59] drjwbaker commented on #30
(or indeed any shell code)

[2017-06-02 16:09] drjwbaker opened #40 "Review/revise READMEs"
Ensure readme files consistent and do not contain extraneous information (for example, references to too much LC history!)

[2017-06-02 16:10] drjwbaker commented on #40
Done across all lessons except python intro

[2017-06-02 16:10] #40 closed

[2017-06-02 16:27] ljsmart commented on #31
@drjwbaker I'm assuming the csv files should be added to https://github.com/data-lessons/library-shell/data rather than here in the librarycarpentry general repo? Re: examples

Call numbers look like this:
Z699 .C3 no.4
Z699 .C3 no.00-43

File names for the associated pdf  look like this:
Z699.C3_4.pdf
Z699.C3_00-43.pdf

[2017-06-02 16:31] drjwbaker commented on #31
@ljsmart Yes please!

[2017-06-02 16:57] gvwilson commented on #30
Should be fixable (probably just using the wrong escape pipe) - can you please file an issue in the lesson example repo and we'll ask @rgaiacs to find a solution?

[2017-06-02 16:59] thomasgpadilla commented on #31
Perhaps its out of scope but I do think it might make sense to create something that leverages tools w/ shell that dont exist natively as part of an OS - e.g. [various dependencies](https://github.com/datapraxis/sourcecaster). My sense of library work in this space is that it often naturally requires tools that are not standard to an OS.

Further, this would require an introduction to installing v

[2017-06-02 17:03] drjwbaker commented on #30
@jt14den Do you still intend to raise this issue as discussed in handover?

[2017-06-02 17:31] ljsmart commented on #31
@drjwbaker It's done. I forked, added files, and submitted pull request. Hope I did that right. I made the files .txt rather than .csv. Because Excel was messing up the .csv, like it does.

[2017-06-03 14:51] jt14den commented on #30
@drjwbaker didn't have time to yesterday, but will now. I wanted to see what it was doing locally first.

[2017-06-03 16:24] jt14den commented on #30
@drjwbaker I can't replicate the problem. I added some of the regex expressions from the `03-free-text.md` episode in library-shell. I also added one grel expression with a regex from open-refine. I pushed them up here: http://www.tim-dennis.com/library-shell/03-free-text/

Is there another regex that you were working from that didn't work?

[2017-06-03 19:05] jt14den commented on #38
@thegsi I poked around a bit and didn't find an existing cibuild or .travis.yml in the SWC lessons, but there's this issue: https://github.com/swcarpentry/styles/issues/86 and an outstanding PR https://github.com/swcarpentry/lesson-example/pull/96 to add a .travis.yml, which will run the existing `make lesson-check-all` in travis. We might want to encourage and wait for that to be merged b/c we wi

[2017-06-04 05:09] jduckles commented on #38
We have a `.travis.yml` that is specific to the SWC website, but it:
1. installs and runs `yaml-lint` to validate yaml headers and
2. does a jekyll build to see if that exits cleanly.

https://github.com/swcarpentry/website/blob/gh-pages/.travis.yml

[2017-06-04 14:08] drjwbaker commented on #37
@ndalyrose and @alexandermendes: when you get a minute, could you please report back here on what was achieved and - if appropriate - close this issue. Ta!

[2017-06-04 14:10] drjwbaker commented on #35
When you (someone) gets a minute, please report back on progress during the sprint and close this issue. Ta!

[2017-06-04 14:13] drjwbaker commented on #30
@jt14den Huh. That is odd. My bad. I'll take another look.

[2017-06-04 15:32] drjwbaker commented on #15
Keeping this here as we lost the logo in the latest SWC template update. @mkuzak did you figure out why?

[2017-06-04 15:34] drjwbaker commented on #19
Closing as the sprint is over :( But look how awesome we were :)

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/mozsprint?src=hash">#mozsprint</a> by the (GitHub) numbers! 50 hours of non-stop collaboration on open projects for a healthy Internet 👏👏👏<a href="https://t.co/bsor3KNvU6">https://t.co/bsor3KNvU6</a> <a href="https://t.co/dDd

[2017-06-04 15:35] #19 closed

[2017-06-04 16:07] drjwbaker commented on #20
We didn't do this. This is something we should work on though. @jt14den: can we adapt from what you did in Pittsburgh pre-workshop?

[2017-06-04 16:24] drjwbaker commented on #21
Seems lots happened! From @richyvk on gitter:

[2017-06-04 16:25] drjwbaker commented on #21
Discussion should now move to lesson repos. Only issue is which lesson to take forward - https://github.com/data-lessons/library-python-intro/ or https://github.com/data-lessons/library-python or both - and where they sit within the (new) incubator process https://github.com/data-lessons/librarycarpentry/issues/22

[2017-06-04 16:28] drjwbaker commented on #23
@jezcope Did some work on this, focusing on incubator process https://github.com/data-lessons/librarycarpentry/issues/22 and past/forthcoming event management (I don't have a link). @jezcope: when you get a minute, could you update on the work and close for now. We can return to the website more generally at a later date.

[2017-06-04 16:30] drjwbaker commented on #27
Did one of these for Intro http://data-lessons.github.io/library-data-intro/guide/ and updated Shell http://data-lessons.github.io/library-shell/guide/ When I get a minute, I'll open an issue for each lesson to look at building Instructor Notes (then I'll close this)

[2017-06-04 16:32] drjwbaker commented on #23
Also, before I forgot, we do need to make a list of all the lessons with the incubator https://github.com/data-lessons/librarycarpentry/issues/22 stamps at http://librarycarpentry.github.io/

I'm happy to do this once the incubator workflow is in place.

[2017-06-04 16:35] drjwbaker commented on #36
Closing. Reopen if you think appropriate.

[2017-06-04 16:35] #36 closed

[2017-06-04 17:22] jt14den commented on #20
Here it is: https://goo.gl/7ODbcc.  Have at it.  I used the "nothing, little, lots, lots and lots" categories found in the @drjwbaker's original Library Carpentry materials. I also liked the way @weaverbel gathered bios and desired outcomes from learners prior to the Portland workshop, so incorporated that in the survey.

We might want to as Maneesha how the workflow works with SW/D carpentry. Onc

[2017-06-04 17:58] jt14den commented on #5
@drjwbaker and @weaverbel: @gvwilson popped into our Zoom on the second day afternoon PDT and we had a short chat about how great the sprint was going. We also talked about the value of making releases and getting DOIs after a sprint to capture contributions and give credit.  I noticed that there's an active repo in SWC for semi-automating releases to Zenodo https://github.com/swcarpentry/swc-rele

[2017-06-05 08:00] evanwill opened #41 "pin this repository"
It would be helpful to pin this repository for the org so it is easy to find and use as a "metarepository" for on going discussion and development documents (i.e. like [SWC org page](https://github.com/swcarpentry)).

[2017-06-05 08:18] evanwill opened #42 "centralized setup?"
In each individual lesson I have noticed issues with the setup instructions. It seems unclear if each lesson should explain the complete set up process, or just the specific tool being introduced. For example, should the Git lesson explain how to install Git, set up the terminal, and get a decent text editor, or will participants have that already?

SWC has a centralized initial set up as part of

[2017-06-05 08:32] drjwbaker commented on #42
Thanks @evanwill. You are right. This has been further complicated by template changes that has come down from SWC: notably setup.md.

For me is should be technical setup. Data download, installation, and validating install etc cetera.
Our workshop webpage template - eg https://datascienceinlibraries.github.io/2017-05-18-pitt/ - is good on that. The lesson pages less so.

As every LC workshop is d

[2017-06-05 08:34] drjwbaker commented on #41
Good idea @evanwill. Didn't know that was possible. Though we share this repo with some DC stuff, so not sure if we can. @tracykteal?

[2017-06-05 09:01] drjwbaker commented on #5
I'm all for giving credit where credit is due, all for versioning with DOIs, and love the Github/Zenodo functionality. Let's do it!

[2017-06-05 09:41] rgaiacs commented on #30
@drjwbaker I think

[code]

doesn't help the reader since is just commands without any information about what they do.

The only two issues that I could spot are

1. `tr ' ' '\n' <` is `tr ‘ ‘ ‘ ‘ <` on the HTML
2. "\`tr ' ' '\n' < gulliver-clean.txt | sort | uniq -c | sort -r > gulliver-final.txt\`" should be "tr ' ' '\n' < gulliver-clean.txt | sort | uniq -c | sort -r > gulliver-final.txt"

[2017-06-05 09:49] drjwbaker commented on #30
@jt14den See https://github.com/data-lessons/library-data-intro/blob/gh-pages/_episodes/04-regular-expressions.md ``[]` defines a range of characters` breaks the header :(

[2017-06-05 10:04] drjwbaker commented on #30
@rgaiacs The sort of info we'd want in the handout - so expressed via the keypoints - are the lines at http://data-lessons.github.io/library-data-intro/reference/

[2017-06-05 10:05] drjwbaker commented on #30
(I agree what you have above doesn't help the learner. What we want is a cheat sheet)

[2017-06-05 11:21] alexandermendes commented on #37
Sure, I made some changes to lesson 2 on Friday but of course this has the knock on effect of requiring some updates to the following lessons. I'll do something quickly now so that we can close this.

[2017-06-05 11:23] weaverbel commented on #37
All the pull requests have been handled @alexandermendes -nothing is outstanding at this point.

[2017-06-05 11:24] alexandermendes commented on #37
Ah yeah, I just had one locally that I didn't submit, will do soon.

[2017-06-05 12:42] alexandermendes commented on #37
So let's close this after https://github.com/data-lessons/library-git/pull/43 is merged. So we have basically tidied up the setup and lessons 1-3. I would suggest that lesson 4 could become a brief intro to forking/branching, as there is nothing on this yet, and the GitHub Pages lesson needs work, but will have to leave this here for the time being.

[2017-06-05 13:41] drjwbaker commented on #30
Fixing this now so the broken header doesn't stay up. This https://github.com/data-lessons/library-data-intro/commit/a53951045c100da66795f37e92b418eb2084c003 is the formatting of the header with "[] defines a range of characters" that breaks.

[2017-06-05 14:24] thegsi commented on #38
@jt14den I think having setting up travis and using the same .travis.yml that @jduckles mentions would be useful and improve the workflow. Will look at lesson-check-all to figure out what's going on.

[2017-06-05 14:33] jt14den commented on #30
@rgaiacs that was just for testing purposes, not what we want as @drjwbaker indicates. I was trying to find what breaks the template.

[2017-06-05 15:36] jt14den commented on #30
@drjwbaker and @rgaiacs it's not the `[]` that breaks the yaml bullets. That seems to work fine. I think that it's the sub-list @drjwbaker was trying to make by using

[code]
That breaks the keypoints. It will also break if you use the github markdown way of creating sub-lists (two spaces in)

[code]
@drjwbaker are sub-lists essential in creating handouts?  If so, anyway of making that possible @r

[2017-06-05 15:38] ldko commented on #35
During the 2017 sprint we worked on setup and README files and outlined a plan to:

* [Remove Chrome extensions](https://github.com/data-lessons/library-webscraping/issues/25) section to focus more on scraping with Python as a way to learn and apply programming concepts rather than using an available tool that may not be supported for very long.

* [Add CSS Selector examples](https://github.com/da

[2017-06-05 16:17] rgaiacs commented on #30
@jt14den YAML supports two syntax for lists. The first one is

[code]

and the second one is

[code]

The first one is "preferable" for aesthetic reasons. But the second [allows](https://stackoverflow.com/a/16334060/1802726) you to have nested lists. You can also have nested lists with the first syntax but you need to use [a "hack" as explained in StackOverflow](https://stackoverflow.com/a/1633503

[2017-06-05 16:50] drjwbaker commented on #30
I wasn't trying to make a sublist. Just a list. As far as I can see I did not indent the text or use more than one "-". @jt14den: can you push an update with the line I tried to add please?

[2017-06-05 17:52] jt14den commented on #30
@rgaiacs thanks for that info!  @drjwbaker sorry! I mis-read the diff.  You need to quote the keypoint if you are including regexes and other characters.

[2017-06-05 18:15] evanwill commented on #41
If someone who has admin for the organization goes to the org page, https://github.com/data-lessons , they will see a little link saying "Customize pinned repositories" next to the green "New" button. Click it to select up to 6 repositories to be pinned

[2017-06-05 19:41] jt14den commented on #30
Added the regex key point on the https://github.com/data-lessons/library-data-intro/pull/44 PR. It works! https://data-lessons.github.io/library-data-intro/04-regular-expressions/

[2017-06-05 19:44] jt14den commented on #38
@thegsi I agree. How about we try it on `library-shell` first. I can set up the integration with travis. Will you do the PR?

Thanks @jduckles.

[2017-06-06 01:56] jduckles commented on #38
@thegsi you'll probably have to do little bit to adapt the `.travis.yml` lines 13-14 calling `yaml-lint` to your needs. I didn't want to run it on all files in the whole swcarpentry/website repo. So I just run on `pages/` and `_posts/`. It also calls `bin/cibuild` so that has to be brought along as well.

[2017-06-06 02:00] jduckles commented on #41
I made a meta-repository for SWC that helps guid people on first GitHub contact with the organization page. Perhaps something similar for data-lessons is in order.

You can see it at the top, pinned here: https://github.com/swcarpentry

When you click on it you see a README.md https://github.com/swcarpentry/swcarpentry

[2017-06-06 02:05] weaverbel commented on #41
I have admin rights but no clue how to do what @jduckles suggests. Happy to do it on behalf of the group if someone gives me some steps.

[2017-06-06 02:16] jduckles commented on #41
Details on how to pin a repo are here: https://github.com/blog/2191-pin-repositories-to-your-github-profile

[2017-06-06 02:59] weaverbel commented on #41
Hi @jduckles Thanks - I do know how to pin as I have done that for my own repos - but did you do anything special for the Software Carpentry thing with the README?

Also, if we were to pin just one (we can have up to 5, so not 8), it should probably be the librarycarpentry repo we used for the sprint? Or the one we serve the blog from? What do others think? @drjwbaker @ostephens

[2017-06-06 14:29] drjwbaker commented on #30
Right. I think it is backslash that kills the header formatting. See https://github.com/data-lessons/library-data-intro/commit/c8e49e09b706ee4a3827bc0078e7154495d10ecc. Having tested, I'm pretty sure it is the line..

..that is the problem, and any line with a backslash in particular. Can someone else test and report back please?

[2017-06-06 14:33] drjwbaker commented on #41
I'd pin https://github.com/data-lessons/librarycarpentry as we will unSprint it soon and return it to just the master/meta LC repo. The website one needs to be refreshed, moved, binned at some stage, so I wouldn't want to hang our hat on that.

[2017-06-06 14:53] alexandermendes commented on #30
Looks like you've figured it out already but you can just escape it with a double slash!

"`\\d` matches any single digit."

[2017-06-06 14:59] drjwbaker commented on #30
We have a winner! I hadn't figured that out, so thank @alexandermendes!

[2017-06-06 15:02] drjwbaker commented on #30
It works! Man this template is a faff sometimes.

Next step in managing handouts, how do we propose turning http://data-lessons.github.io/library-data-intro/reference/ into a nicely formatted handout?

[2017-06-06 15:29] rgaiacs commented on #30
@drjwbaker I didn't tested but you could try replace https://github.com/data-lessons/library-data-intro/blob/gh-pages/_includes/episode_keypoints.html#L8, i.e.

[code]

with

[code]

[2017-06-06 15:40] drjwbaker opened #43 "UnSprint this repo"
We need to revert this repo back to our meta LC repo for lesson development et al. Thought on timescales and tasks? I'm feeling we need to align with https://github.com/data-lessons/librarycarpentry/issues/22 as the readme here should list lessons, their status, et cetera.

[2017-06-07 00:45] weaverbel commented on #43
I can unsprint the repo and add links to lessons and then others can make other changes @drjwbaker .

[2017-06-07 00:51] tracykteal commented on #43
Is this sung to the tune of 'unbreak my heart'?

[2017-06-07 01:04] weaverbel commented on #43
I have done two 'unsprints' for the files - what else needs doing on them @drjwbaker ?

[2017-06-07 11:09] drjwbaker commented on #43
Looks it.

I've raised a PR for the readme with the incubator status more fleshed out https://github.com/data-lessons/librarycarpentry/pull/46

Input very welcome.

[2017-06-07 21:13] jt14den commented on #30
Sorry @drjwbaker for closing too soon. Thanks @rgaiacs for the markdownify approach.

[2017-06-12 19:05] jt14den commented on #5
@drjwbaker I'm working on this -- want to include Library Carpentry in the swc-releases workflow.  I pinged the repo to see how we can incorporate LC into that workflow.

[2017-06-13 08:58] drjwbaker commented on #20
Belatedly, thanks @jt14den

We could just have one big gdoc where one of the questions is 'Which LC are you attending?'. Then we have two options:

1) Have a multiple choice response to this question. +ive: we get consistent data. -ive: we have the manage the sheet, make sure new LC events are added to the multiple choice options.
2) Have a free text response to this question. +ive: less overhead

[2017-06-13 09:24] drjwbaker commented on #5
@jt14den Thanks Tim. Do report back as and when.

[2017-06-13 09:50] weaverbel commented on #20
Software and Data Carpentry have pre and post workshop questionnaires on Survey Monkey. Designated people have rights to add new workshops to the list and then to download and share results. More structured and less at risk than Google Docs, I'd have thought @jt14den @drjwbaker ?

[2017-06-13 10:59] drjwbaker commented on #20
Don't know to be honest. Both are commercial services et cetera. I'm happy either way.

[2017-06-13 16:51] tracykteal commented on #20
Having one-off surveys is really challenging and also doesn't let you compare responses across workshops. We've spent quite a bit of time designing and setting up to analyze surveys with our Deputy Director of Assessment. I think it would make sense to align efforts. Being able to do effective assessment is important in important in evaluating outcomes and seeing what could be improved, and is als

[2017-06-14 07:28] drjwbaker commented on #20
@tracykteal Agreed. Aligning is better where possible. Are there any dependencies for us aligning? For example, do we need to be fully hooked into AMY? If so, we're going to need an interim solution until/if that happens.

[2017-06-18 20:42] jezcope commented on #22
@drjwbaker Ok, there is now a [lesson list on the home page](http://librarycarpentry.github.io/#our-lessons) and a separate [our lessons page](http://librarycarpentry.github.io/lessons/) with more details about the lesson statuses and development process. To save duplication, both pages take lesson data from [`_data/lessons.yaml`](https://github.com/LibraryCarpentry/librarycarpentry.github.io/blob

[2017-06-19 07:37] tracykteal commented on #20
No connection with AMY is needed. It's done through Survey Monkey. So, it does use our Survey Monkey account. Maybe @weaverbel can help us coordinate here.

[2017-06-19 08:07] drjwbaker commented on #22
Looks good @jezcope. Huge improvement to what we had!

[2017-06-20 00:32] jt14den commented on #5
@drjwbaker and @weaverbel: I've altered [swc-releases](https://github.com/swcarpentry/swc-releases) for library carpentry and tested the workflow in my own [fork](https://github.com/jt14den/swc-releases) and Zenodo account.  The scripts work and do things in two stages:
1. Creates a deposit per chosen lesson set, with authors, metadata from the repo, acquires a DOI and uploads a zip in Zenodo (the

[2017-06-20 00:57] gvwilson commented on #5
:+1: - this is great.

[2017-06-20 08:16] drjwbaker commented on #5
Marvelous work @jt14den. Thank you so much. I have added you as an owner. A few things:

1. I think you mean https://github.com/data-lessons as that is where the lessons are (though I've added you to https://github.com/librarycarpentry so you can do website work if you want to :) )
2. Okay.
3. Core and Beta? http://librarycarpentry.github.io/
4. I will ask all the lesson maintainers to work on thi

[2017-06-20 08:45] drjwbaker commented on #20
@tracykteal Huh. I have just presumed AMY was all powerful on all Carpentries admin. Let's make sure we use the same workflow then.

@weaverbel I can take this if you give me an insight into what the Carpentries pre-/post- look like.

[2017-06-20 10:01] drjwbaker opened #47 "Handouts to support learners for whom English isn't their main language of librarianship"
I have had a request for a workshop in Italy. It will be in English with Italian helpers. The organisers are requesting that we get detailed and stable handout materials together so they can translate them for workshop.

We've already had LC taught in Norwegian (hi @danmichaelo!) but I don't think translating everything into lots of languages will scale without massive investment in people, money,

[2017-06-20 11:10] twitwi commented on #5
About filling the authors, there is a bash script in the swc-releases repository (`authors.sh`) that tries to help managing AUTHORS across many repository. It enriches/relies on an obfuscated global mail-map file https://github.com/swcarpentry/swc-releases/blob/gh-pages/all-mailmap

The script is less documented that the rest of the process but it can prove helpful.

Also, I recently made it remov

[2017-06-20 13:34] drjwbaker commented on #5
Thanks for your input @twitwi!

[2017-06-23 22:39] jt14den commented on #5
@drjwbaker Thanks! I'm cycling back to this now!  A couple of questions related to your  numbered responses above:

1. If we are keeping the website in https://github.com/librarycarpentry, I suggest we publish the lessons there. The releases won't need to be in the same GH organization as the lessons. The submodules will be only references to the branches that are the published version of the less

[2017-06-25 23:31] jduckles commented on #20
For SWC, our workshop pre/post surveys are linked to here: https://software-carpentry.org/assessment/

DCs are here: http://www.datacarpentry.org/assessment/

[2017-06-25 23:39] weaverbel commented on #20
Thanks @jduckles. @jezcope I think this might be a good topic for our face to face, post-sprint catch up which I am now trying to organise. Expect an invitation !

[2017-06-26 16:53] tracykteal commented on #20
@weaverbel good idea both for a community catch up call and to include this in the discussion. All our assessment data is online. This is Data Carpentry's http://www.datacarpentry.org/assessment/ An issue is likely around infrastructure and if you also want to use Survey Monkey.

[2017-06-28 13:39] drjwbaker commented on #5
On 1., to be totally clear: doing this **won't** require us to move the lessons from https://github.com/data-lessons, correct? That would be a **BIG** job..

[2017-06-28 14:27] drjwbaker commented on #20
@weaverbel This is currently assigned to me. Are you taking this forward? If so, shall I assign to you? (not trying to shirk, just figure out who is leading on what!)

[2017-06-29 15:26] jt14den commented on #5
@drjwbaker no need to move lessons. git submodules are a way to have external repositories show up as a sub-directory of another git repo. it's like a symbolic link in unix.

Almost there with making things happen. Reconciling authors was a bit of a bear, but should be easier next release. The next step is to run the script to make branches in lesson repos and submodules.  Maintainers will then ne

[2017-06-29 16:18] drjwbaker commented on #5
Okay. Thanks for your hard work @jt14den. Yes, July release sounds better.

[2017-07-09 06:34] weaverbel opened #48 "Future Directions for Library Carpentry - Opening a Discussion"
Two sprints in, and with a growing community worldwide, I think it is time to think about our **future direction**.

In order to grow, and to meet the needs of new people who want to get involved, we need some mechanisms in place to handle enquiries and deal with requests for workshops - and possibly - engage with funders. We also need some ground rules about what kind of community we are, how we

[2017-07-09 07:26] Repositorian commented on #48
Having a clear scope for Library Carpentry seems super important to achieving community consensus and coherence. Q: Right now LC appears to be focused on coding and software skills for librarians to perform library operational tasks?

The reason the scoping seems important at this early stage is to help folks in the library community navigate possibilities and find their own way. Many of us in lib

[2017-07-09 08:48] drjwbaker commented on #48
Thanks Belinda. I'll have a proper read/think tomorrow.

[2017-07-09 10:54] jezcope commented on #48
Thanks Belinda, great conversation starter! I might put one or more position-paper-type posts on https://erambler.co.uk/ to avoid packing too much long-winded content into this thread.

[2017-07-09 11:01] jezcope commented on #48
Initial thoughts:

* We should integrate and collaborate with SWC/DC as much as possible.
* The existing instructor training is focused on pedagogy and not specific content, so is already fit for purpose.
* The key difference, both for our content and the instructors teaching it, is that the assumptions about prior knowledge/experience of LC learners are very different to those for SWC/DC learners

[2017-07-09 12:00] gvwilson commented on #48
I'm obviously biased toward the Carpentries, but setting that aside, I think that being part of a larger effort has many more benefits than drawbacks.  Instructor training and workshop management infrastructure have taken years to develop, and are expensive to keep going; duplicating them will only sap resources that could be used more effectively elsewhere.  Equally, a community that can *and wil

[2017-07-10 07:45] drjwbaker commented on #48
We should merge into The Carpentries.

If they'll have us, we should do this in such a way that:

- Retains the MO/mission of SWC/DC.
- Recognises the attractiveness - as @ostephens has said many times - of the word 'Library' to librarians.
- Recognises - as @jezcope writes https://github.com/data-lessons/librarycarpentry/issues/48#issuecomment-313913132 - 'that the assumptions about prior knowled

[2017-07-10 13:09] jt14den commented on #48
Thanks @weaverbel for kicking this off.  I agree we need to develop some LC governance and can't continue relying on the scaffolding that Data & Software Carpentry has generously provided. I   support merging with the carpentries and creating an interim steering committee to do that, but agree with @gvwilson that we should put it to a vote of LC lesson contributors and active workshop instructors.

[2017-07-10 13:12] pitviper6 commented on #48
Another vote for merging with SWC/DC, and collaborating/sharing with them wherever it makes sense.

Library Carpentry has a ton of momentum right now, especially after the wildly successful sprint. The challenge is how to turn that momentum into a steady growth, to continue building a strong community, and continue to develop quality training for instructors and top-notch lessons/materials.

One o

[2017-07-10 13:51] drjwbaker commented on #48
@pitviper6 Quick question: "Metadata librarians especially loooooove OR, so if we get inquiries from non-research librarians, we can always point out those lessons that would fit their needs". For me, if a metadata librarian works at a research or university library, they are in scope of what I think of a 'research librarians' (as opposed to public or school librarians)

Which is not to open a dis

[2017-07-10 13:59] pitviper6 commented on #48
Ah, see I was thinking in terms of the workshop we held at UCSD, which was attended by many members of the Metadata Dept. While they did work in the library at a research-heavy university, they were very much a traditional cataloging department and didn't think of themselves in any way connected with research (or datasets). They saw OR as a tool that could help them with munging OCLC reports, reco

[2017-07-10 15:27] jezcope commented on #48
👍 to @jt14den's point that

I think it's important to recognise that there's a synergy here and the LC community has a lot to offer the overall Carpentry community (which has already been well stated, but just to labour the point... 😁)

[2017-07-10 23:40] richyvk commented on #48
I'm finding myself wanting to ask: what, specifically, are the implications of merging with SC/DC? What would that **actually mean** in terms of fixing these issues, and placing restrictions on what we do(or not)?
If SC/DC is perceived as overly bureaucratic by some - then why? I think that needs to be explained/considered. Touching on this is Jez's point too - about LC having a voice in any merge

[2017-07-11 03:05] weaverbel commented on #48
I agree @jezcope @jt14den especially where our lesson material has been updated more recently, e.g., we could contribute back the amazing work @ostephens and @ccronje et al have done on the LC OpenRefine lesson.

[2017-07-11 15:34] chodacki commented on #48
I agree with the sentiment above and believe that a merger is the best path forward for LC.

I want to emphasize two points:
1. Quality. The success of LC is the the community AND in the quality of our efforts.  These efforts include the training...but also include processes for on boarding, new module development, and triaging workshop requests, etc.  I see a merger as helping us increase the qua

[2017-07-11 23:59] weaverbel commented on #48
I certainly want to credit @drjwbaker for having the initial idea and organising that first workshop. That sparked my interest, got me teaching it, and gave me the idea to organise the first sprint in 2016 to see who else out there might be interested in developing Library Carpentry. (I think we know the answer to that: a **LOT** of people).

Interest in Australia just exploded at that point, and

[2017-07-12 00:06] chodacki commented on #48
I definitely think we all owe a ton to you @weaverbel. Without you, LC wouldn't be where it is today (or as well positioned for the future).

And I should have added it above....but I am double excited that you are now at the Carpentries. That has really boosted my confidence that we can successfully navigate this transition. Go team!

[2017-07-12 00:27] weaverbel commented on #48
Aw, shucks @chodacki :-)

[2017-07-12 07:21] drjwbaker commented on #48
I love how this thread has turned into a love in :) I echo @chodacki: @weaverbel was the one who took my crazy idea and ran with it and proved to me that there are people in the world willing to do *good things* without being asked first. I'm also super happy that you are at the Carpentries Belinda. You've done us a **huge** strategic favour if/when we merge/integrate with Carpentries. But if you

[2017-07-13 02:39] prcollingwood commented on #48
I haven't been involved enough to be able to have an informed opinion on the questions Belinda is asking, but one thing that needs clarification is what distinguishes LC from other carpentries. Is the reason for aiming LC at research librarians to give them skills to teach researchers? If so, shouldn't they just do SWC instead? Or is LC to teach all librarians skills they can use to help them do t

[2017-07-13 08:00] drjwbaker commented on #48
@prcollingwood Thanks for this. You've made two points here that I talk about so often that I feel like I'm becoming a broken record! These are:

Absolutely not. LC is about librarians and their daily practice.

Absolutely agree. We must remain super mindful of this as we proceed.

[2017-07-13 14:24] tracykteal commented on #48
Thanks for this great discussion! SWC/DC are really excited about the idea of SWC/DC/LC and are fully supportive of a merger/integration.

As many have already said it's a good opportunity for LC to connect with the existing scalable infrastructure, as well as a great synergy and LC and the LC community have a lot to contribute to the Carpentries.

Also as @gvwilson says, with the SWC/DC merger it

[2017-07-13 20:25] pitviper6 commented on #48
@prcollingwood @drjwbaker
I think of Library Carpentry as targeted towards any librarian who works with data, in any capacity. Hopefully (at least in my view) that will include librarians working with researchers and their data, but it could also be librarians in data-heavy roles, like metadata or acquisition librarians who would benefit from using OpenRefine or scripting to automate frequent task

[2017-07-13 22:08] prcollingwood commented on #48
Thanks @drjwbaker and @pitviper6 for your comments!

[2017-07-13 22:36] weaverbel commented on #48
I do agree with @drjwbaker on this, @prcollingwood

However, if librarians (having mastered them) felt able to teach/share those skills with researchers, then that would be a great outcome too.

[2017-08-02 09:40] ndalyrose commented on #48
Sorry I'm so late to respond but just to throw my two cents in that I wholeheartedly support a formal union with SWC/DC and am super excited by the prospect. I've been very, very keen to be more involved in LC, it has a wonderful symmetry with our existing training program at British Library (see: https://www.bl.uk/projects/digital-scholarship-training-programme) and I want to expose colleagues to

[2017-08-04 15:28] drjwbaker commented on #48
Okay. Thank you all for your positive, informed, and substantive commentaries on what you want, how you feel, and where you want this to go.

Now is time to act. @weaverbel opened this issue 26 days ago. The SWC/DC merger is going ahead https://software-carpentry.org/blog/2017/06/merger.html (indeed, apace unless anything has changed!?). So if we want to merge with the merger and advocate for a vo

[2017-08-04 20:10] gvwilson commented on #48
Thanks for the summary @drjwbaker - how about:

1. @weaverbel sets up a call with @tracykteal some time in the next two weeks in which people who've contributed to this thread can ask what the arrangements for group identity for SWC and DC will be post-merger, and whether the same arrangements will apply to LC.
2. If they'll have us, but some people are unhappy with the arrangements, those people

[2017-08-04 20:53] drjwbaker commented on #48
I love that @gvwilson calls LC "us" :)

[2017-08-09 08:07] drjwbaker commented on #48
https://software-carpentry.org/blog/2017/08/mergermotions.html

[2017-08-11 17:58] ljsmart commented on #48
I support the merger and the process for garnering feedback.

I also appreciate the clarification of what LC is/is not. For whatever reason, it wasn't until I took instructor training that I internalized the distinction between librarians using the skills in their day-to-day vs. teaching librarians to teach the Carpentries. Our primary motivation for getting certified was to teach researchers on c

[2017-08-16 22:05] weaverbel commented on #48
The consensus in the chatroom seems to be that we should schedule a couple of Library Carpentry community calls in a month or so to discuss the issues raised here and ways forward. I don't think there needs to be any kind of headlong rush for this so a month is fine. Data and Software Carpentry need to finalise their merger and then devise a process by which further Carpentries can potentially joi

[2017-08-29 07:20] drjwbaker commented on #48
@weaverbel As ever, thanks for being so sensible, articulate, and practical on this.

I'd be keen to get a call in the diary as soon as possible. First step is for people to indicate that they want to take part in such a call (note: timing is always tricky as we have to do some serious timezone juggling!).

Can I suggest that anyone who wants to join the call puts a thumbs up on https://github.com

[2017-08-30 18:11] jt14den commented on #20
@drjwbaker, We have a presentation for RDA that includes assessment for lib carp, so we hope to nudge this along some. We need to connect up with Dr. Jordan.

[2017-09-01 01:19] weaverbel commented on #20
@drjwbaker @jt14den @tracykteal I am going to be on the move from next Wednesday morning (going to US to run workshops, then attend a two-day meeting) so am happy to assign this to someone else (James?  Tim? Juliane?) unless it can wait till I am home? I am back here 16 Sept.

[2017-09-01 01:36] weaverbel commented on #48
@drjwbaker I will be pretty booked up 6-16 Sept with my US trip but am happy to do a call after that.

[2017-09-01 15:05] drjwbaker commented on #20
@jt14den Dr Jordan?

[2017-09-01 15:06] drjwbaker commented on #48
@weaverbel Okay.

[2017-09-03 22:33] weaverbel commented on #20
This is Kari Jordan from Data Carpentry - she has just published a whole
lot of info about assessment. Start here:
http://www.datacarpentry.org/blog/reflections-on-assessment/

Belinda Weaver
Community Development Lead
Software and Data Carpentry
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Sat, Sep 2, 2017 at 1:05 AM, James Baker <notifications@github.com>
wrote:

[2017-09-04 10:08] drjwbaker commented on #20
Right. Ta.

[2017-09-04 10:52] richyvk commented on #48
@drjwbaker when we have the calls, can we tag on a 5 mins to talk about the website. Would like to get that finished off and launched if possible...

[2017-09-04 11:07] drjwbaker commented on #48
@richyvk

I have the following people down for a call:
- @weaverbel
- @richyvk
- @tracykteal
- @gvwilson
- @ndalyrose
- @jt14den

Any other takers? We should start setting this up by the end of the week.

[2017-09-04 12:14] pitviper6 commented on #48
I'd like to be on it! Thanks.

[2017-09-04 12:27] pitviper6 commented on #20
For the presentation, how about as a first step we look at the SWC and DC surveys, and evaluate them for use in an LC version (what questions are pertinent to the LC model/mission, what would need to be added)? @jt14den, does that sound like a good start?

[2017-09-04 18:59] tracykteal commented on #48
LC’s growth has been awesome, and it sounds like there’s consensus that LC should be aligned with SWC & DC. Something that will help make this a clearer pathway is that SWC & DC have just passed their merger resolution!
Here’s the blog post: http://www.datacarpentry.org/blog/merger/

Software and Data Carpentry are moving towards being an umbrella organization that will support multiple types of c

[2017-09-04 19:14] tracykteal commented on #20
That sounds great! I'll put you in touch with Kari Jordan, our assessment person, who just got through updating the Data Carpentry survey, and get you set up on SurveyMonkey. I'll send an email for introduction.

[2017-09-04 19:43] chodacki commented on #48
Congratulations, Tracy! This is amazing news and I think the merger and upcoming clarity on expansion will help a lot as we move forward with LC.

I agree that we should hold off a little bit on the next community meeting because there are a lot of moving parts. In addition to the changes you outlined, CDL has also recently received a grant to help fund future coordination of LC.  Among other thin

[2017-09-04 19:59] tracykteal commented on #48
Congratulations on the grant! That's fantastic news and great timing! It does add in a positive way to the moving parts, so it sounds good to hold off on the community meeting until there's more information on the grant too.

[2017-09-04 20:36] pitviper6 commented on #20
Thanks!

[2017-09-04 22:48] weaverbel commented on #48
Amen to all that @tracykteal @chodacki @drjwbaker but equally we can have a call just to chat / catch up, especially about the website that @richyvk has done - we should finalise that. I am in the US 6-14 September so time zones might not be so nightmarish for a general call.

[2017-09-05 01:07] richyvk commented on #48
Thanks @drjwbaker. I'm happy to leave the website as is for now of course, just don't want it to stall. Happy to discuss whenever we schedule the big meeting. In the mean time I am going to make a concerted effort to get the Python lesson ready for test teaching :)

[2017-09-05 01:48] weaverbel commented on #48
I am going to raise an issue about the website redesign.

[2017-09-05 01:52] weaverbel opened #49 "Website redesign"
The amazing @richyvk has done a fabulous job with the website redesign http://www.richyvk.me/library-carpentry-redesign/ so let's start to move on this. Issues should be raised here.

Repo view is here: https://github.com/richyvk/library-carpentry-redesign if people want to fork and do some pull requests.

I think it is pretty nice. We do have to think about reskinning the blog to match though.

[2017-09-05 16:39] drjwbaker commented on #48
@tracykteal Shortly before you posted I saw the image you added above and the 'Lesson Organisations' and thought it looked a perfect place for LC. So in addition to my congrats of the continuing success of the merger, I'm delighted to see this 'Lesson Orgs' model emerge from the merger and look forward to seeing the draft doc on guidelines for 'Lesson Orgs'. I'm sure everyone involved in LC would

[2017-09-05 16:46] drjwbaker opened #50 "LC September 2017 Community Call"
Forking from https://github.com/data-lessons/librarycarpentry/issues/48 we need a catchup.

**Possible Agenda**
- saying hi and stuff
- @richyvk's awesome website work https://github.com/data-lessons/librarycarpentry/issues/49
- update from @chodacki on LC related bid success
- pre-chat about our place in the SWC/LC merger https://github.com/data-lessons/librarycarpentry/issues/48#issuecomment-327

[2017-09-05 16:46] drjwbaker commented on #49
I love it! Thanks @richyvk. I have some comments but let's save for a catchup call.

On which, I'm teaching LC in Padua next week, so perhaps we can schedule the chat between when I'm back (20 September) and the end of the month. I've opened a issue for just the call here https://github.com/data-lessons/librarycarpentry/issues/50

[2017-09-06 01:30] chodacki commented on #50
Sounds good.  However, I am unavailable Sept 17-29 (part of this is presenting on LC at RDA in Montreal).  I could do Oct 2-13 or Oct 30-Nov 3 though.  Does that work?  Wanna doodle?

[2017-09-06 01:31] chodacki commented on #49
It is awesome, @richyvk   Thanks for all the legwork!

[2017-09-06 01:37] chodacki commented on #48
@drjwbaker Regarding the grant...it has been awarded but I am still working out the specifics with my internal grants office. I will keep everyone posted when I have more clarity...and have something to communicate. Will make sure all of you and DC/SWC are part of that communication for sure.

[2017-09-06 05:40] mkuzak commented on #50
Great. I should be available. I will need to check once there is a more detailed date.

[2017-09-06 07:58] drjwbaker commented on #48
@chodacki Okay. I look forward to hearing more when you and the funder are ready.

[2017-09-07 19:34] tracykteal commented on #50
OK, I created a 'whenisgood' poll for Oct 2-13th.

Time zones are going to be a challenge, so I put in a lot of times. It might be that there will need to be 2 meetings to include all the people who want to participate.

Fill out the poll here:
http://whenisgood.net/8pnn359

Results will appear at http://whenisgood.net/8pnn359/results/4e4wbae so anyone can check to see what times look promising.

[2017-09-08 10:04] drjwbaker commented on #50
Thanks @tracykteal For some reason I always forget the name whenisgood when I'm thinking of setting up a meeting (which is frustrating as it is so much better than doodle poll!)

[2017-09-19 05:11] cmacdonell commented on #50
Wow, those whenisgood results are not what I'd hoped for. Lots of conflicts. Anyway, do we want to pick a time?

[2017-09-19 10:16] danmichaelo commented on #20
Just drafted a post-workshop evaluation for the Padova workshop:

https://docs.google.com/forms/d/e/1FAIpQLSc9vdKc9RtTVmXFjliiRXuyRgYg9UHkgGA78c4tnHrPy2eoPw/viewform

Based on https://software-carpentry.org/assessment/ , but I made it a lot shorter, since I feel like there's too many questions in the SWC survey. Did I miss some important aspect?

[2017-09-19 10:38] gvwilson commented on #50
I'll stay up/wake up whenever is convenient for others.

[2017-09-19 10:49] drjwbaker commented on #50
@cmacdonell Thanks for taking this on. Perhaps pick two, one at either end of the timezone equation?

[2017-09-19 10:50] drjwbaker commented on #20
@danmichaelo Thanks for this!

[2017-09-19 11:28] pitviper6 commented on #20
I threw one together for the UCLA workshop - I went with a more lesson-based approach, which may be clunkier since workshops can vary in the lessons taught:

https://docs.google.com/forms/d/1dWawu3CNdl_1wxjKObM_kTPAGNAbIogXQrcj_YzWvpQ/edit?usp=sharing

[2017-09-20 01:27] weaverbel commented on #50
And I can be up early / stay late #usedtoit

Belinda Weaver
Community Development Lead
Software and Data Carpentry
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Tue, Sep 19, 2017 at 8:49 PM, James Baker <notifications@github.com>
wrote:

[2017-09-21 20:37] cmacdonell commented on #50
Tuesday, October 10 at 7am US/Pacific has only 3 exclusions. @weaverbel @pitviper6 @richyvk can work some magic to join the rest of us at that time despite saying that time didn't work?

[2017-09-21 21:15] pitviper6 commented on #50
I'm at an all day meeting, so the 9th and 10th are completely out for me,
alas.

On Thu, Sep 21, 2017 at 3:37 PM, Cam Macdonell <notifications@github.com>
wrote:

[2017-09-21 22:51] richyvk commented on #50
@cmacdonell That would be midnight Brisbane time, unless I'm wrong. I love LC but I don't think I'd be any use to anyone at that time :(

[2017-09-22 03:54] weaverbel commented on #50
Midnight here so not ideal but I could sacrifice myself for Library
Carpentry ;-)

Belinda Weaver
Community Development Lead
Software and Data Carpentry
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Fri, Sep 22, 2017 at 6:37 AM, Cam Macdonell <notifications@github.com>
wrote:

[2017-09-22 04:30] chodacki commented on #50
I can do 7am Pacific.

[2017-09-22 06:09] tracykteal commented on #50
We could do two times like with SWC/DC Community Calls. There's one at 2pm UTC and another at 11pm UTC http://everytimezone.com/ Then people could make one time or the other. Agenda is the same for each call, so we take notes and can read the notes to catch up on what was discussed on the other call. Unfortunately, there doesn't really seem to be one good global time.

[2017-09-22 06:46] mkuzak commented on #50
I should be able to join 2pm UTC.

[2017-09-22 10:54] drjwbaker commented on #50
Can we do what @tracykteal suggests please. It is a more articulate version of what I was trying to get at here https://github.com/data-lessons/librarycarpentry/issues/50#issuecomment-330502251 :)

[2017-09-22 16:41] cmacdonell commented on #50
Ok, if we add 2pm US/Pacific, on Wednesday, Oct 11 as our second meeting, that will catch @pitviper6 @weaverbel @richyvk. @chodacki happens to be available for either.

It's not the same day, but due to @pitviper6 's all-day meetings on the 9th/10th, I think this is better.

[2017-09-22 16:48] pitviper6 commented on #50
I would very much appreciate that option! Thank you.

Juliane.

On Fri, Sep 22, 2017 at 11:41 AM, Cam Macdonell <notifications@github.com>
wrote:

[2017-09-22 16:59] drjwbaker commented on #50
@cmacdonell Thanks for wrangling. Can you confirm the UTC times of the 10 and 11 October meetings please?

[2017-09-22 17:06] cmacdonell commented on #50
Here are our meetings, shall I email them to the Discuss list?

Tuesday, Oct 10, 14:00/2pm UTC
Wednesday, Oct 11, 21:00/9pm UTC

[2017-09-22 23:17] tracykteal commented on #50
Sure! I've already set up the etherpad, so information can go there.

http://pad.software-carpentry.org/lc-call

I put the day and times on the etherpad, and these are the timeandday links, so people can figure out what times things are in their local time zones (there are some time changes coming up!). I added Zoom connection details too.

First call:
October 10, 2017 14:00/2pm UTC
Click here for

[2017-09-25 07:13] drjwbaker commented on #50
Are we adding names on the pad to the call we are coming to? Either way, I have. Speak soon folks.

[2017-09-26 02:25] weaverbel commented on #50
Hi @cmacdonell I think we should tell people via @LibCarpentry twitter and also by the gitter rooms and also tell people in our networks, but I think these calls should really be for the community as it is now - people who have taught or sprinted or contributed somehow - to have a say and maybe we could schedule other calls later for the wider community of Carpentry folks to chime in.  We don't re

[2017-09-26 03:22] cmacdonell commented on #50
After thinking about it, I agree that this call should be for those who are already participating.

I think the suggestion about a blog post is a good one as well.

I would say it's likely that a small steering committee is the right governance model (but we can discuss in the call), then we can nominate people & vote in some way after.

[2017-09-26 04:12] chodacki commented on #50
Good plan. We have tweeted this out from libcarp handle. Others should do the same from their accounts. I will do more promotion to my networks next week.

[2017-09-26 06:08] mkuzak commented on #50
+1 one for meeting fo already involved
+1 for the post
mentioned by @weaverbel above

[2017-09-26 11:59] pitviper6 commented on #50
I think we should definitely treat this call as something that people need to come prepared for - there is a lot to go over, so people should be familiar with LC and what it's been doing.  However, if some newbie joins the call, so be it. They'll get a crash course in LC.

I'm getting slightly conflicting views from @weaverbel and @chodacki about how generally we want to publicize this. I was goin

[2017-09-26 14:57] cmacdonell commented on #50
I read both their comments as tweeting notices is OK, but we'll avoid the Discuss list for now, or saying anything like "Come checkout LC" that would attract new people. I certainly agree we won't chase anyone away, but this is a community call that should have focus to it.

We'll make sure to get a clear agenda on the etherpad in advance of the meeting. I'll take that on.

[2017-09-27 00:12] weaverbel commented on #50
Thanks Cam - it is fine to tweet, blog and publicise this in our library
community forums - I just didn't want it on the discuss list or other
places where we might get people coming in for the first time wondering who
the hell we are ;-)

I am hoping to write a "how we got here" blog post on the plane to Perth -
am at the airport now.

Belinda Weaver
Community Development Lead
Software and Data C

[2017-09-28 10:07] drjwbaker commented on #5
Cycling back to this. I know you've been busy @jt14den. Is this in your plan for the Autumn?

[2017-09-29 13:17] tracykteal commented on #5
SWC and DC do releases, and @twitwi has a system that should work for LC lessons too. Blog post on the last SWC release https://software-carpentry.org/blog/2017/08/release-2017.08.html

Also, before the first release of new lessons Data Carpentry has been doing an Issue Bonanza and Bug BBQ http://www.datacarpentry.org/blog/lesson-release/ so that could be something to consider, although I know LC

[2017-10-02 18:47] jt14den commented on #5
​Sorry guys, work intervened on finishing this. I did use @twitwi​'s
scripts and workflow to successfully create the zenodo entries and website
on test. The issue was me dropping the ball on coordinating with
maintainers to make sure authors were set up right. When I come back from
SA I can work on this.

On Fri, Sep 29, 2017 at 3:17 PM, Tracy Teal <notifications@github.com>
wrote:

--
Tim Dennis

[2017-10-03 08:27] drjwbaker commented on #5
No worries these things take time! Thanks for taking the lead @jt14den.

[2017-10-03 08:32] twitwi commented on #5
If at some point you need help with how the authors script works, let me know.

[2017-10-10 02:17] cmacdonell commented on #50
Hi everyone,

Look forward to seeing those who can make it tomorrow, the Zoom contact and basic agenda are on the etherpad.

http://pad.software-carpentry.org/lc-call

See you at 14:00/2pm UTC Tuesday

The second call is Wednesday, Oct 11, 21:00/9pm UTC. That info is also in the etherpad.

[2018-05-04 22:12] jcoliver opened #51 "Update README links to non-deprecated projects"
The links in the [README](https://github.com/data-lessons/librarycarpentry/README.md) link to old (deprecated) locations and should probably be updated to the repos of active development. e.g. replace

[https://github.com/data-lessons/library-data-intro-DEPRECATED](https://github.com/data-lessons/library-data-intro-DEPRECATED)

with

[https://github.com/LibraryCarpentry/lc-data-intro](https://gith

[2018-05-06 23:49] weaverbel commented on #51
Fixed - thanks @jcoliver

[2018-05-06 23:49] #51 closed

[2018-05-08 23:12] peterneish opened #52 "Digital Preservation lesson"
At a recent Australasia preserves workshop ([blog post](https://blogs.unimelb.edu.au/digital-preservation-project/2018/03/06/australasia-preserves-establishing-a-digital-preservation-community-of-practice/), [meeting notes](http://bit.ly/2ogSt1U)), the idea was floated for some kind of digital preservation carpentry lesson or teaching material. It is not much more than an idea at this stage, but I

[2018-05-09 01:12] libcce commented on #52
This recent IMLS report, Open Digital Preservation Training and Professional Development Opportunities, might be useful to this discussion:
https://www.imls.gov/sites/default/files/publications/documents/imls-2017-open-project-report.pdf
It provides possible themes and resources to draw from. For instance, I'd like to see lesson material developed around web archiving and maybe @ianmilligan1 is in

[2018-05-09 01:39] emcaulay commented on #26
I'd like to participate in helping on this topic. I have dabbled in Open Refine a little and I did take the Open Refine lesson when we hosted Library Carpentries here at UCLA (a little less than a year ago). Should I just start by doing a careful review of the lesson?

[2018-05-09 01:41] emcaulay commented on #26
And, eeks, when I click on the link above the repo now is tagged DEPRECATED, so I'm guessing I'm already lost!

[2018-05-09 01:47] libcce commented on #26
Hi @emcaulay, the repo has moved to https://github.com/LibraryCarpentry/lc-open-refine (but you can look through the issues here, at least for the moment). I believe @pitviper6 has had some ideas for improving this lesson.

[2018-05-09 02:35] #50 closed

[2018-05-09 02:36] weaverbel commented on #49
I am working on the website for the sprint.

[2018-05-09 02:37] #43 closed

[2018-05-09 02:45] weaverbel commented on #26
I have also raised an issue on all the new repos to point back to where old
issues are located.

Belinda Weaver
Community and Communications Lead
The Carpentries
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Wed, May 9, 2018 at 11:47 AM, Chris Erdmann <notifications@github.com>
wrote:

[2018-05-09 05:31] peterneish commented on #52
Thanks Chris, that looks report looks great.

Would appreciate advice on what has worked for scoping and developing lessons.  Do we: develop use cases, conduct survey of community, dive in and develop a minimum viable product (then iterate), all of the above?

[2018-05-09 11:30] libcce commented on #52
Library Carpentry Mozsprint is a great place to ask these questions and gauge interest (and Belinda has labeled your issue). There is also some information on the lesson incubation process https://software-carpentry.org/lessons/incubation/.

[2018-05-09 13:58] pitviper6 commented on #26
@emcaulay Hey there! I didn't have plans for the OR lesson this sprint (I'm going to work on the intro section, especially the regex stuff), but feel free to review it and create some pull requests for any improvements you'd like to make. We're always looking for more exercises and it would be great to pull in a section showing how to reconcile Wikidata.

[2018-05-09 16:04] emcaulay commented on #26
I apologize -- I found this tagged for mozsprint, but I didn't notice the year of jezcope's comment. So, i just thought this was for this year. my bad. still learning.

[2018-05-09 16:06] pitviper6 commented on #26
Aren't we all!

On Wed, May 9, 2018 at 11:04 AM, Elizabeth Lisa McAulay <
notifications@github.com> wrote:

[2018-05-09 16:07] emcaulay commented on #26
:) best way to be -- always be learning!

[2018-05-11 05:47] peterneish commented on #52
New repository created thanks @weaverbel https://github.com/LibraryCarpentry/lc-dig-pres - discussion can continue at that repo.

[2018-06-01 14:15] #52 closed

[2018-06-01 14:16] #49 closed

[2018-06-01 14:16] #47 closed

[2018-06-01 14:16] #41 closed

[2018-06-01 14:16] #37 closed

[2018-06-01 14:17] #24 closed

[2018-06-01 14:17] #30 closed

[2018-06-01 14:17] #26 closed

[2018-06-01 14:18] #21 closed

[2018-06-01 14:18] #15 closed

[2018-06-01 14:21] #31 closed

[2018-06-01 14:22] #35 closed

[2018-06-01 14:26] #32 closed

[2018-06-01 14:27] #10 closed

[2018-06-01 14:27] #6 closed

[2018-06-01 14:28] #5 closed

[2018-06-01 14:28] #23 closed

[2018-06-01 14:28] #25 closed

[2018-06-01 14:29] #7 closed

[2018-06-01 14:31] #42 closed

[2018-06-01 14:32] #11 closed

[2018-06-01 14:32] #16 closed

[2018-06-01 14:33] #20 closed

[2018-06-01 14:33] #38 closed

[2018-06-01 14:34] #48 closed

[2018-06-01 14:35] #22 closed